@*國家資料*@
@using VNCF.PSS.Web.Areas.Sales.DAL
@using VNCF.PSS.Web.Areas.Base.Models;
@model Country

@{
    ViewBag.Title = "Country Info";
    var WebFromElement = ViewBag;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8 " />
    <title>Country</title>

    <script>

        var aryParam = null;
        //===================================
        /**
         * 入口函數
         */
        $(function () {
            //初始载入数据
            loadData();
            //刷新数据
        });

        function loadData() {
            var aryQuery = {
                id: $("#id").val(),
                name: $("#name").val(),
                english_name: $("#english_name").val()
            };

            //将值传递给initTable
            getDateGrid(aryQuery);
            return false;
        }

        ////初始化搜索框
        //function searchData() {
        //    loadData();
        //}

        /**
        * 载入数据,初始化datagrid格式
        */
        function getDateGrid(aryQuery) {
            $('#myTable').datagrid({
                url: '/Country/GetCountryReturnList', //'/Home/GetStudent?r=' + Math.random(),   //指向后台的Action来获取当前用户的信息的Json格式的数据
                iconCls: 'icon-view',//图标
                width: function () { return document.body.clientWidth * 2 },//自动宽度
                nowrap: true,
                //collapsible: true,
                autoRowHeight: false,//自动行高
                striped: true,//斑馬隔行
                collapsible: true,
                //sortName: 'Id',//排序列名为ID
                sortOrder: 'asc',//排序为升序
                remoteSort: false,
                idField: 'id',//主键值
                rownumbers: true,//显示行号
                multiSort: true,//启用排序 sortable: true //启用排序列
                singleSelect: true,//只能單選一行
                pagination: true,
                //fit: true,
                fitColumns: true, //列自動適應滿屏 ,較少列時可設置為True,多列時要設為False超出屏幕時datagrid底部會出現水平滾動條
                pageSize: 20,
                pageList: [10, 20, 30, 40, 50],
                queryParams: aryQuery, //搜索条件查询
                columns: [[
                { field: 'id', title: '编号', width: 100, sortable: true },
                { field: 'name', title: '名称(中文)', width: 100, sortable: true },
                { field: 'english_name', title: '名称(英文)', width: 100 },
                { field: 'create_by', title: '建檔人', width: 100 },
                { field: 'create_date', title: '建檔日期', width: 100 },
                { field: 'update_by', title: '修改人', width: 100 },
                { field: 'update_date', title: '修改日期', width: 100 }
                @*{ field: "ProductMo", title: "@WebFromElement.OcID", width: 100 }*@
                ]],
                toolbar: "#toolbar"
                @*toolbar: [{
                    id: 'btnNew',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function (){
                        $('#btnAdd').linkbutton('enable');
                        $('#btnAdd').click(function () {
                            $('#dlg').dialog('open').dialog('setTitle', '新增項目');
                            @*showMessageDialog("@Url.Action("Create")","新增產品",800,600,true);
                            });
                    }
                }]*@
            });
        }


        //****js实现对数据的添加修改删除******
        var url;
        function newRecord() {
            $("#dlg").dialog("open").dialog('setTitle', 'New User');;
            $("#fm").form("clear");
            //url = "/Country/GetCountryReturnList'";
            document.getElementById("post_type").value = "NEW";//隱藏提交某一值給一下表單或后臺
            //$("#create_by").text("@WebFromElement.user_id");            

            ////$("#create_by").text("9999");
            ////$("#create_by").val("赋值");
            //var obj2 = document.getElementById("create_by");
            //obj2.removeAttribute("style")
            //obj2.value = "test2";
            //console.info(obj2);
            $("#mytd_key input").attr("readonly", false).css("color", "blue");//主鍵可編輯
            //$("#dlg tr").each(function () {
            //    $(this).find("td:last input").attr({"disabled": false}).css("color","blue");
            //    return false; //跳出循环
            //});
            setCreatedate();
        }

        function editRecord() {
            var row = $("#myTable").datagrid("getSelected");
            if (row) {
                $("#dlg").dialog("open").dialog('setTitle', 'Edit User');
                $("#fm").form("load", row);
                //url = "UserManage.aspx?id=" + row.ID;
                document.getElementById("post_type").value = "EDIT";//隱藏提交某一值給一下表單或后臺
            };
            $("#mytd_key input").attr("readonly", true).css("color", "blue");//主鍵不可編輯
            //$("#dlg tr").each(function () {
            //    $(this).find("td:last input").attr({"disabled": true}).css("color","blue");
            //    return false; //跳出循环
            //});
            setCreatedate();
        }

        //function saveRecord() {
        //    $("#fm").form("submit", {
        //        url: url,//
        //        onsubmit: function () {
        //            return $(this).form("validate");
        //        },
        //        success: function (result) {
        //            if (result == "1") {
        //                $.messager.alert("提示信息", "操作成功");
        //                $("#dlg").dialog("close");
        //                $("#myTable").datagrid("load");
        //            }
        //            else {
        //                $.messager.alert("提示信息", "操作失敗");
        //            }
        //        }
        //    });
        //}

        function Save_Record() {
            //在前台对用户输入的信息做判断，不符合要求时“添加用户”就不能提交给后台
            var valid = $("#dlg").form('validate');
            if (valid == false) {
                return false;
            }
            var postData = $("#fm").serializeArray();
            //Ajax异步实现加载
            $.ajax({
                url: "/Country/SaveRecord",
                data: postData,
                type: "post",
                success: function (data) {
                    if (data == "OK") {
                        $.messager.alert("提示信息", "當前操作成功！", "info");
                        $('#dlg').dialog('close');
                        $('#myTable').datagrid("reload");
                        //$("#addFormHead").form("clear")
                        //SearchOcDetails();
                    }
                    else {
                        $.messager.alert("提示信息！", "當前操作失敗!", "error");
                    }
                }
            })
        };

        //function Save_Record() {
        //    $("#btnSave").click(function () {
        //        //在前台对用户输入的信息做判断，不符合要求时“添加用户”就不能提交给后台
        //        var valid = $("#dlg").form('validate');
        //        if (valid == false) {
        //            return false;
        //        }
        //        var postData = $("#fm").serializeArray();
        //        //Ajax异步实现加载
        //        $.ajax({
        //            url: "/Country/SaveRecord",
        //            data: postData,
        //            type: "post",
        //            success: function (data) {
        //                if (data == "OK") {
        //                    $.messager.alert("提示信息", "當前操作成功！");
        //                    $('#dlg').dialog('close');
        //                    $('#myTable').datagrid("reload");
        //                    //$("#addFormHead").form("clear")
        //                    //SearchOcDetails();
        //                }
        //                else {
        //                    $.messager.alert("提示信息", "操作失敗！");
        //                }
        //            }
        //        })
        //    });
        //};

        function destroyRecord() {
            var row = $('#myTable').datagrid('getSelected');
            if (row) {
                $.messager.confirm('Confirm', 'Are you sure want to destroy current data?', function (r) {
                    if (r) {
                        $.post("/Country/DelRecord", { id: row.id }, function (result) {
                            console.info(result);
                            if (result.success) {
                                $('#myTable').datagrid('reload');    // reload the user data
                                var options = {
                                    title: "提示信息",
                                    msg: "當前記錄刪除成功！",
                                    showType: 'slide',
                                    timeout: 1000
                                };
                                $.messager.show(options);
                            } else {
                                $.messager.show({   // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    }
                });
            }
        }
        //*****************

        function setCreatedate() {
            var curr_time = new Date();
            var str = curr_time.getFullYear() + "-";
            str += curr_time.getMonth() + 1 + "-";
            str += curr_time.getDate() + "-";
            str += curr_time.getHours() + ":";
            str += curr_time.getMinutes() + ":";
            str += curr_time.getSeconds();
            $('#create_date').datetimebox('setValue', str);
        };

        //字母轉大寫
        function fnKeyUp() {
            this.value = this.value.toUpperCase();
        }

    </script>

    <style>
        .readonly_obj_backgroudcolor {
            background-color: silver;
        }
    </style>

</head>

<body>

    <div class="areabx clear" style="margin-bottom:0px;padding-bottom:0px;">
        <fieldset>
            <legend>@WebFromElement.msg_search_condition</legend>
            @*添加或查詢按鈕*@
            <div class="botbtbx pdb0" style="margin-top: 5px">
                @*<input type="button" value="添加部門" class="easyui-linkbutton" iconcls="icon-add" onclick="showPublishWin()" />
                    <input type="button" value="查询" class="easyui-linkbutton" iconcls="icon-search" onclick="reloadList();">*@
                @*<a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnAdd" onclick="showPublishWin()">添加</a>*@
                <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach" onclick="loadData()" style="margin-left:50px ">@WebFromElement.btn_search</a>

            </div>

            @*//查詢條件*@
            <ul class="formod mgt10" style="margin-bottom:10px">
                <li><span>@WebFromElement.id</span>@Html.TextBox("id", "", new { @class = "easyui-textbox" })</li>
                <li><span>@WebFromElement.name</span>@Html.TextBox("name", "", new { @class = "easyui-textbox" })</li>
                <li><span>@WebFromElement.english_name</span>@Html.TextBox("english_name", "", new { @class = "easyui-textbox" })</li>
                <li></li>
            </ul>
        </fieldset>
        <!--div class="areabx_header">明細資料</div-->
        @*表格*@
        <div class="tob_box mgt15">
            <table id="myTable" class="display" cellspacing="0" cellpadding="0" border="0"></table>
            <!--style="width:100%"-->
        </div>
    </div>

    @*datagrid上方引用的工具欄*@
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newRecord()">@WebFromElement.btn_add</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editRecord()">@WebFromElement.btn_edit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyRecord()">@WebFromElement.btn_del</a>
    </div>

    @*添加新記錄時弹出框*@
    <div id="dlg" class="easyui-dialog" style="width: 450px; height: 400px; padding: 10px 20px;" closed="true" resizable="true" modal="true" data-options="buttons: '#dlg-buttons'">
        <div class="ftitle">
            信息编辑
        </div>

        <form id="fm" method="post" novalidate="novalidate">
            <table id="tblAdd" style="margin: 15px auto;">
                <tr>
                    <td>
                        <label class="fitem label" for="lblid" style="line-height:30px;">@WebFromElement.id：</label>
                    </td>
                    <td id="mytd_key">
                        <!--disabled-->
                        <input class="easyui-textbox" id="id" name="id" data-options="required:true,readonly:false,validType:'length[1,20]',events:{keyup:fnKeyUp}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fitem label" for="lblname" style="line-height:30px;">@WebFromElement.name：</label>
                    </td>
                    <td>
                        <input class="easyui-textbox" id="name" name="name" data-options="required:true,validType:'length[1,200]'" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fitem label" for="lblenglish_name" style="line-height:30px;">@WebFromElement.english_name：</label>
                    </td>
                    <td>
                        <input class="easyui-textbox" id="english_name" name="english_name" data-options="required:true,validType:'length[1,200]'" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fitem label" for="lblcreate_by" style="line-height:30px;">@WebFromElement.create_by：</label>
                    </td>
                    <td class="readonly_obj_backgroudcolor">
                        <input class="easyui-textbox" id="create_by" name="create_by" data-options="readonly:true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fitem label" for="lblcreate_date" style="line-height:30px;">@WebFromElement.create_date：</label>
                    </td>
                    <td class="readonly_obj_backgroudcolor">
                        <input class="easyui-datetimebox" id="create_date" name="create_date" data-options="readonly:true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fitem label" for="lblupdate_by" style="line-height:30px;">@WebFromElement.update_by：</label>
                    </td>
                    <td class="readonly_obj_backgroudcolor">
                        <input class="easyui-textbox" id="update_by" name="update_by" data-options="readonly:true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="fitem label" for="lblupdate_date" style="line-height:30px;">@WebFromElement.update_date：</label>
                    </td>
                    <td class="readonly_obj_backgroudcolor">
                        <input class="easyui-datetimebox" id="update_date" name="update_date" data-options="readonly: true" />
                    </td>
                </tr>
            </table>

            <!--定義隱藏的臨時變量儲存當前操作是新增或修改-->
            <input type="hidden" name="action" id="post_type">
            <!--input type="hidden" name="action" id="hidtype"-->
            <!--input type="hidden" name="ID" id="Nameid" -->

            <div id="dlg-buttons">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="Save_Record()" iconcls="icon-save" id="btnSave">@WebFromElement.btn_save</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#dlg').dialog('close')" iconcls="icon-cancel">@WebFromElement.btn_cancel</a>
            </div>
        </form>
    </div>




</body>
</html>
