@using Resources;
@{
//Layout = null;
}
@section PageSpecificStyleSheetIncludes{
    @*<link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/CFStyle.css?v=20201117102416263">*@
    <style type="text/css">
        .percent-100 tr{
            height:20px;
        }

        

        .btnbox {
            width: 10px;
            height: 10px;
            background: #ddd;
            display: flex;
            align-items: center;
        }
    </style>
}
<div class="areabx clear" style="margin-bottom:0px;padding-bottom:0px;">
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true">
            <div class="botbtbx pdb0">
                @*<input type="button" value="添加部門" class="easyui-linkbutton" iconcls="icon-add" onclick="showPublishWin()" />
                    <input type="button" value="查询" class="easyui-linkbutton" iconcls="icon-search" onclick="reloadList();">*@
                <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnNew">新單</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach1" onclick="showMessageDialog('Find','查找',800,560)">查询</a>
                <button type="submit" id="submit" class="easyui-linkbutton" iconcls="icon-add">提交</button>
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddHead" iconcls="icon-ok">确定</a>
                <a href="#" class="easyui-linkbutton" id="btnPprint" iconcls="icon-print" onclick="showMessageDialog('@Url.Action("Print")','列印',800,600,true);">列印</a>
                @*<button id="show" onclick="show()">Show</button>*@
            </div>
        </div>
    </div>
    <div class="mdHide">
        <input id="mdInput" />
    </div>
    <div class="easyui-tabs" style="width:99%;height:auto;">
        <div title="First Tab" style="padding:10px;">
            @using (Html.BeginForm("EditHead", null, FormMethod.Post, new { id = "addFormHead", @clase = "form-inline", @role = "form" }))
            {

                <ul class="formod mgt10" id="ulPanel">

                    <li class="lb-std"><div class="input-group"><span>@Resource.OcID：</span></div></li>
                </ul>

            }
        </div>
        <div title="Second Tab" closable="false" style="padding:10px;">

            @using (Html.BeginForm("EditHead", null, FormMethod.Post, new { id = "addFormDetails", @clase = "form-inline", @role = "form" }))
            {

                <table id="tbInput" class="percent-100" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="td-label"><div class="award-name"><span>制單編號：</span></div></td>
                            <td class="td-input"><div class="input-group"><input id="ProductMo" class="easyui-textbox" , style="width:100%" /></div></td>
                            <td class="td-label"><div class="award-name"><span>產品編號：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("ProductID", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>產品描述：</span></div></td>
                            <td colspan="3"><div class="input-group">@Html.TextBox("ProductCdesc", "", new { @class = "easyui-textbox", @style = "width:100%", @readonly = "true" })</div></td>

                        </tr>
                        <tr>
                            <td class="td-label"><div class="award-name">牌子編號：</div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("BrandID", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name">客戶產品編號：</div></td>
                            <td class="td-input">
                                <div class="input-group">
                                    <input type="text" class="easyui-textbox non-empty" maxlength="10" name="CustomerProductID" id="CustomerProductID" style="width: 80%;">
                                    <button type="button" class="in-button-find" id="forceBizOpEtpsInfo">...</button>
                                </div>
                            </td>
                            <td class="td-label"><div class="award-name"><span>訂單數量：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("OrderQty", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>數量單位：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("OrderUnit", "", new { @class = "easyui-combobox", @style = "width:100%" })</div></td>
                            @*<td></td>*@

                        </tr>
                        <tr>
                            <td class="td-label"><div class="award-name"><span>單價：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("Price", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>單價單位：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("PriceUnit", "", new { @class = "easyui-combotbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>預計日期：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("RequestDate", "", new { @class = "easyui-datebox-expand", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>交貨日期：</span></div></td>
                            @*<td>@Html.TextBox("DeliveryDate", "", new { @class = "easyui-datebox-expand" })</td>*@
                            <td class="td-input"><div class="input-group"><input type="text" class="easyui-datebox-expand" style="width:100%" id="DeliveryDate" /></div></td>
                            @*<td></td>*@
                        </tr>
                        <tr>
                            <td class="td-label"><div class="award-name"><span>單價：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("Price", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>單價單位：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("PriceUnit", "", new { @class = "easyui-combotbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>預計日期：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("RequestDate", "", new { @class = "easyui-datebox-expand", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>交貨日期：</span></div></td>
                            @*<td>@Html.TextBox("DeliveryDate", "", new { @class = "easyui-datebox-expand" })</td>*@
                            <td class="td-input" colspan="2"><div class="input-group"><input type="text" class="easyui-datebox-expand" style="width:100%" id="DeliveryDate" /></div></td>
                            @*<td></td>*@
                        </tr>
                    </tbody>
                </table>
            }

            <div class="areabx_divider"></div>
            <div data-options="region:'center'">
                <div class="easyui-layout" data-options="fit:true" style="background: #ccc;">
                    <table id="tbDetails" class="easyui-datagrid" title=@Resource.OcID style="width:100%;height:350px"
                           data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get',fit:true"></table>

                </div>
            </div>
            @*<a class="btn blue" title='添加產品' href="@Url.Action("Create")"><i class="icon-plus icon-white"></i> 添加產品</a>*@
        </div>


    </div>
</div>
@section PageSpecificJavascriptIncludes{
    <script src="~/Content/js/order.js"></script>
}