@using Resources;

@{
    ViewBag.Title = "生產流程";
}
@section PageSpecificStyleSheetIncludes{
    @*<link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/CFStyle.css?v=20201117102416261">*@
    <style type="text/css">
        .div-cont{
            float:left;
            width:90%;
            border:0px solid #F00;
        }
        .divcss5-cent{margin:0 auto;width:80%;height:80%;border:1px solid #F00}
        .img-plan{
            border:thick;
            width:80%;
        }
        .vxe-radio-group{height:18px}
    </style>
}
<div id="app">
    <!--工具欄-->
    @*background-color:gainsboro;*@
    <div style="height:35px;width:100%;margin-top:-12px; background-color:#F5F7FA;border:1px solid rgba(167, 180, 183, 0.3)">
        <div style="float:left;width:80%;">            
            <vxe-toolbar perfect size="medium" style="height:35px;border:none">
                <template #buttons>
                    <vxe-button type="text" icon="fa fa-plus" content="@Resource.btn_new" @@click="addNew()"></vxe-button>
                    <vxe-button type="text" icon="fa fa-save" content="@Resource.btn_save" @@click="saveEvent()"></vxe-button>
                    <vxe-button type="text" icon="fa fa-search" content="@Resource.btn_search" @@click="clickSearchEvent()"></vxe-button>
                    <vxe-button type="text" icon="fa fa-print" content="@Resource.btn_print" @@click="printEvent()"></vxe-button>
                    <vxe-button type="text" icon="fa fa-arrow-circle-up" content="@Resource.btn_approval" @*@@click="saveEvent()"*@></vxe-button>
                    <vxe-button type="text" icon="fa fa-copy" content="@Resource.CopyMo" @@click="clickCopyEvent()"></vxe-button>
                    <vxe-button type="text" icon="fa fa-trash-o" @@click="cancelEvent()"><span style="color:red">@Resource.btn_cancela</span></vxe-button>
                </template>
            </vxe-toolbar>
        </div>
        <div style="float:right;width:20%;background-color:#F5F7FA;height:35px">       
            <div style="float:left;width:60%;">    
                <input v-model="searchProductMo" maxlenth="10" @@keyup.enter="searchByProductMo(searchProductMo)" placeholder="Please Input Product MO" style="outline-style:none;margin-top:8px;">
                @*<vxe-input v-model="searchProductMo" @@keyup.enter="searchByProductMo(searchProductMo)" placeholder="Product MO" style="height:20px;margin-top:6px;font-size:9px">                   
                </vxe-input>*@
            </div>
            <div style="float:right;width:30%;">
                <vxe-button type="text" icon="fa fa-search" @@click="searchByProductMo(searchProductMo)" style="height:25px;margin-top:5px">@Resource.btn_search</vxe-button>
            </div>
        </div>
    </div>
    
    @*<p style="background-color:aqua;margin:0;">abc</p>*@
    <!--選擇主表或明細表-->
    <div style="float:left;width:100%;height:35px;margin:0px;margin-top:0px;">
        @*<div style="height:25px;margin:0px;margin-top:10px;">*@
            <vxe-radio-group v-model="selectTab">
                <vxe-radio-button label="tab1" content="@Resource.ProductionMasterTable" size="mini"></vxe-radio-button>@*生產主表*@
                <vxe-radio-button label="tab2" content="@Resource.ProductionDetail" size="mini"></vxe-radio-button>@*生產明細表*@
                @*<vxe-radio-button label="tab3" content="制單配件"></vxe-radio-button>*@                
            </vxe-radio-group>
        @*</div>*@
        @*<div style="height:25px;margin:0px;margin-top:10px;float:right;width:30%;background-color:aqua">
            
        </div>*@
    </div>
    <!--主表-->
    <div v-show="selectTab === 'tab1'" style="margin:15px 0px;">
        <div class="div-cont">
            <div class="div-left">
                <vxe-form :data="formData" @@submit="submitSearch" size="mini"  title-align="right" title-width="100px" prevent-submit title-colon custom-layout>@**@
                    <vxe-form-item title="@Resource.ProductMo" field="ProductMo" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ProductMo" placeholder="Please input ProductMo" @@blur="productMoBlurEvent()" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.Ver" field="Ver" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.Ver" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.PlanDate" field="PlanDate" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.PlanDate" type="date" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>

                    <vxe-form-item title="@Resource.CustomerID" field="CustomerID" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.CustomerID" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.ProductItem" field="GoodsID" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.GoodsID" @@blur="formDataGoodsIDBlurEvent()" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.ProductCdesc" field="GoodsCname" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.GoodsCname" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.OrderQty" field="OrderQty" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.OrderQty" type="integer" class="input-customize" :controls="false"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.QtyUnit" field="OrderUnit" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-select v-model="data.OrderUnit" size="mini">
                                <vxe-option v-for="item in QtyUnitList" :key="item.ID" :value="item.Name" :label="item.Name"></vxe-option>
                            </vxe-select>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.RequestDate" field="RequestDate" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.RequestDate" type="date" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.DeliveryDate" field="DeliveryDate" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.DeliveryDate" type="date" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.ProductRemark" field="ProductRemark" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ProductRemark" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.MoRemark" field="MoRemark" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.MoRemark" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.PlanRemark" field="PlanRemark" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.PlanRemark" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.CreateBy" field="CreateUser" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.CreateUser" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.CreateAt" field="CreateTime" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.CreateTime" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.UpdateBy" field="AmendUser" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.AmendUser" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.UpdateAt" field="AmendTime" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.AmendTime" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.ApprovalBy" field="ApprovedUser" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ApprovedUser" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.ApprovalDate" field="ApprovedTime" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ApprovedTime" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.State" field="State" :item-render="{}" :span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.State" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    
                </vxe-form>
                @*<vxe-input v-model="value100" span="6" placeholder="默认尺寸"></vxe-input>
            <vxe-input v-model="value101" span="6" placeholder="中等尺寸" size="medium"></vxe-input>
            <vxe-input v-model="value102" span="6" placeholder="小型尺寸" size="small"></vxe-input>
            <vxe-input v-model="value103" span="6" placeholder="超小尺寸" size="mini"></vxe-input>*@
            </div>
            <div class="div-right">
                <p>
                    @*<img id="ArtImage" class="plan-img" src="~/Images/photo.png" />*@
                    <img :src="this.formData.ArtImageUrl" alt="..." class="img-plan">
                </p>
            </div>

        </div>
    </div>
    <!--明細表-->
    <div v-show="selectTab === 'tab2'">
        <div class="div-left">
            <vxe-toolbar style="height:35px">
                <template #buttons>
                    <vxe-button icon="fa fa-plus" @@click="insertEvent()" size="mini">@Resource.btn_additem</vxe-button>
                    <vxe-button icon="fa fa-trash-o" @@click="deleteEvent()" size="mini"><span style="color:red">@Resource.btn_delitem</span></vxe-button>
                </template>
            </vxe-toolbar>
        </div>
        <!--明細表-->
        <div style="float:left;width:100%">
        <vxe-table border
                   show-overflow
                   :data="tablePlanDetails"
                   ref="xTable1"
                   height="350"
                   size="mini"
                   @*resizable*@
                   show-header-overflow
                   highlight-current-row
                   :row-config="{height: 20, isCurrent:true}"                   
                   :loading="loading3"
                   :sync-resize="selectTab"                  
                   :checkbox-config="{highlight: true, range: true}"                   
                   :keyboard-config="{isArrow: true, isEnter: true,Backspace:true}"
                   :edit-config="{trigger: 'click', mode: 'row', icon: 'fa fa-pencil1', showStatus: true}"                              
                   @@cell-dblclick="tablePlanDetailsCellDBLClickEvent"
                   @@checkbox-change="checkboxChange"
                   @@checkbox-all="selectAllCheckboxChange"
                   >            
            <vxe-column type="checkbox" fixed="left" width="40"></vxe-column>
            <vxe-column type="seq" title="@Resource.SeqID" width="50"></vxe-column>
            <vxe-column field="GoodsID" title="@Resource.ProductID" width="170" :edit-render="{autofocus: '.vxe-input--inner'}">
                <template #edit="{ row }">
                    <vxe-input v-model="row.GoodsID" maxlength="18" style="height:20px;" @@change="tableGoodsIDChangeEvent(row)" @@blur="tableGoodsIDBlurEvent(row)"></vxe-input>
                </template>
            </vxe-column>
            <vxe-column field="GoodsCname" title="@Resource.ProductCdesc" width="260"></vxe-column>
            <vxe-column field="WipID" title="@Resource.ResponsibleDepartment" :edit-render="{}" width="120">
                <template #edit="{ row }">
                    <vxe-select v-model="row.WipID" size="mini" @@change="tableWipIDChangeEvent(row)">
                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-column>
            <vxe-column field="NextWipID" title="@Resource.ReceivingDepartment" :edit-render="{}" width="120">
                <template #edit="{ row }">
                    <vxe-select v-model="row.NextWipID" size="mini" @@change="tableNextWipIDChangeEvent(row)">
                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-column>
            <vxe-column field="RequestQty" title="@Resource.RequestQty" :edit-render="{}" width="100">
                <template #edit="{ row }">
                    <vxe-input v-model="row.RequestQty" type="number" style="height:20px" @@change="tableRequestQtyChangeEvent(row)":controls="false"></vxe-input>
                </template>
            </vxe-column>
            <vxe-column field="RequestDate" title="@Resource.RequiredCompletionDate" :edit-render="{}" width="120">
                <template #edit="{ row }">
                    <vxe-input v-model="row.RequestDate" type="date" style="height:20px" @@change="tableRequestDateChangeEvent(row)"></vxe-input>
                </template>
            </vxe-column>
            <vxe-column field="CompletedQty" title="@Resource.CompletedQty" width="100">
                <template #edit="{ row }">
                    <vxe-input v-model="row.CompletedQty" type="number" style="height:20px" ></vxe-input>
                </template>
            </vxe-column>            
            <vxe-column field="CompletedDate" title="@Resource.CompletedDate" width="120">
                <template #edit="{ row }">
                    <vxe-input v-model="row.CompletedDate" type="date" style="height:20px"></vxe-input>
                </template>
            </vxe-column>
            <vxe-column field="EditFlag" title="EditFlag" width="50" v-if="false"></vxe-column>
            <vxe-column title="@Resource.btn_edit" width="60" :resizable="false" fixed="right" show-overflow>
                <template #default="{ row }">
                    <vxe-button type="text" icon="fa fa-edit" @@click="editRowEvent(row)"></vxe-button>
                </template>
            </vxe-column>
        </vxe-table>
        </div>
        <!--彈窗編輯明細表-->
        <vxe-modal ref="xModal" v-model="showEdit" title="@Resource.btn_edit&@Resource.btn_save" width="900" height="600" resize destroy-on-close>
            
                <template #default>
                    @*<div class="div-cont">*@
                        <vxe-form :data="editPlanDetails" title-align="right" title-width="160" @@submit="updateEvent" title-colon custom-layout>
                            <vxe-form-item align="left" span="24">
                                <vxe-toolbar perfect size="medium" style="height:35px;margin-top:-20px;margin-bottom:-20px;">
                                    <template #buttons @*#default*@>
                                        <vxe-button v-if="selectRow" type="submit" status="primary">@Resource.btn_ok</vxe-button>
                                        <vxe-button v-else type="submit" status="primary">@Resource.btn_new</vxe-button>
                                        @*<vxe-button type="reset">重置</vxe-button>*@
                                        <vxe-button @@click="$refs.xModal.close()">@Resource.btn_cancel</vxe-button>
                                    </template>
                                </vxe-toolbar>
                            </vxe-form-item>
                            <vxe-form-item title="@Resource.ProductID" field="GoodsID" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.GoodsID" class="input-customize" maxlength="18" @@blur="modalGoodsIDBlurEvent()" style="width:76%"></vxe-input>
                                    @*<vxe-button icon="fa fa-search" class="input-customize" style="height:20px;width:18%;" @@click="showGoods"></vxe-button>*@
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="@Resource.ProductCdesc" field="GoodsCname" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.GoodsCname" class="input-customize"></vxe-input>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="@Resource.ProductionDepartment" field="WipID" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-select v-model="data.WipID" size="mini">
                                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.label" :label="item.label"></vxe-option>
                                    </vxe-select>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="@Resource.ReceivingDepartment" field="NextWipID" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-select v-model="data.NextWipID" size="mini">
                                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.label" :label="item.label"></vxe-option>
                                    </vxe-select>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="@Resource.RequestQty" field="RequestQty" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.RequestQty" type="number" class="input-customize" :controls="false"></vxe-input>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="@Resource.RequiredCompletionDate" field="RequestDate" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.RequestDate" type="date" class="input-customize"></vxe-input>
                                </template>
                            </vxe-form-item>
                            
                        </vxe-form>
                    @*</div>*@
            </template>
            
        </vxe-modal>

    </div>
    <!--調出复制窗口-->
    <vxe-modal ref="xModalCopy" v-model="showCopy" title="@Resource.CopyMo" width="400" height="300" resize destroy-on-close>
        <template #default>
            @*<div class="div-cont">*@
            <vxe-form :data="copyData" title-align="right" title-width="100" @@submit="copyMo()" style="margin-top:-20px">
                <vxe-form-item field="SourceType" span="12" :item-render="{}">
                    <template #default="{ data }">
                        <vxe-radio name="n1" v-model="data.SourceType" label="1" content="@Resource.ImputFromMo" size="mini"></vxe-radio>
                    </template>
                </vxe-form-item>
                <vxe-form-item field="SourceType" span="12" :item-render="{}">
                    <template #default="{ data }">
                        <vxe-radio name="n1" v-model="data.SourceType" label="2" content="@Resource.ImputFromCFOC" size="mini"></vxe-radio>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="@Resource.ProductMo" field="ProductMo" span="24" :item-render="{}">
                    <template #default="{ data }">
                        <vxe-input v-model="data.ProductMo"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item align="center" span="24" style="margin-top:30px">
                    <template #default>
                        <vxe-button type="submit" status="primary" @@click="$refs.xModalCopy.close()">@Resource.btn_ok</vxe-button>
                        <vxe-button @@click="$refs.xModalCopy.close()">@Resource.btn_cancel</vxe-button>
                    </template>
                </vxe-form-item>
            </vxe-form>
            @*</div>*@
        </template>
    </vxe-modal>
    @*<div v-show="selectTab === 'tab3'">
        <vxe-table border
                   show-overflow
                   height="400"
                   :sync-resize="selectTab"
                   :data="tablePlanDetails">
            <vxe-table-column type="checkbox" width="60"></vxe-table-column>
            <vxe-table-column field="nickname" title="nickname"></vxe-table-column>
            <vxe-table-column field="sex" title="Sex"></vxe-table-column>
            <vxe-table-column field="age" title="Age"></vxe-table-column>
            <vxe-table-column field="date12" title="Date"></vxe-table-column>
            <vxe-table-column field="region" title="Region"></vxe-table-column>
            <vxe-table-column field="rate" title="Rate"></vxe-table-column>
        </vxe-table>
    </div>*@
    <!--查找窗口-->
    <vxe-modal ref="xModalSearch" v-model="showSearch" title="@Resource.btn_search" width="800" height="600" resize destroy-on-close>
        
        <template #default>            
            <vxe-toolbar perfect size="medium" style="height:35px;margin-top:-6px;margin-bottom:20px">
                <template #buttons>
                    <vxe-button status="primary" icon="fa fa-search" @@click="searchPlan()" size="mini">@Resource.btn_search</vxe-button>
                    <vxe-button icon="fa fa-close" @@click="$refs.xModalSearch.close()" size="mini">@Resource.btn_exit</vxe-button>
                </template>
            </vxe-toolbar>            
            <vxe-form :data="searchParasData" title-align="right" title-width="100" @*@@submit="searchPlan()"*@ style="margin-top:-20px">
                @*<vxe-form-item align="left" span="24" style="margin-top:30px">
                    <template #default>
                        <vxe-button type="submit" status="primary">@Resource.btn_search</vxe-button>
                        <vxe-button @@click="$refs.xModalSearch.close()">@Resource.btn_exit</vxe-button>
                    </template>
                </vxe-form-item>*@
                <vxe-form-item title="@Resource.ProductMo" field="ProductMo" span="12" :item-render="{}">
                    <template #default="{ data }">
                        <vxe-input v-model="data.ProductMoFrom" style="width:40%"></vxe-input>
                        <vxe-input v-model="data.ProductMoTo" style="width:40%"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="@Resource.PlanDate" field="PlanDateFrom" span="12" :item-render="{}">
                    <template #default="{ data }">
                        <vxe-input v-model="data.PlanDateFrom" type="date" style="width:40%"></vxe-input>
                        <vxe-input v-model="data.PlanDateTo" type="date" style="width:40%"></vxe-input>
                    </template>
                </vxe-form-item>
            </vxe-form>
 
        <!--顯示查找記錄-->
        <vxe-table border
                   show-overflow
                   height="350"
                   size="mini"
                   highlight-current-row
                   :row-config="{height: 20}"
                   ref="xTable"
                   :loading="searchLoading"
                   :sync-resize="selectTab"
                   :checkbox-config="{highlight: true, range: true}"
                   :data="tablePlanHeadList"
                   :keyboard-config="{isArrow: true, isEnter: true,Backspace:true}"
                   :edit-config="{trigger: 'dbclick', mode: 'row', icon: 'fa fa-pencil1', showStatus: true}"
                    @@cell-dblclick="searchCellDBLClickEvent">
            <vxe-column title="@Resource.btnSelect" width="60" fixed="left" show-overflow>
                <template #default="{ row }">
                    <vxe-button type="text" icon="fa fa-check" @@click="SelectSearchMoEvent(row)"></vxe-button>
                </template>
            </vxe-column>
            <vxe-column type="seq" title="@Resource.SeqID" width="60"></vxe-column>
            <vxe-column field="ProductMo" title="@Resource.ProductMo" width="100" :edit-render="{autofocus: '.vxe-input--inner'}">
            </vxe-column>
            <vxe-column field="PlanDate" title="@Resource.PlanDate" width="100"></vxe-column>
            <vxe-column field="GoodsID" title="@Resource.ProductID" width="160"></vxe-column>
            <vxe-column field="GoodsCname" title="@Resource.ProductCdesc" width="260"></vxe-column>
            <vxe-column field="CreateUser" title="@Resource.CreateBy" width="80"></vxe-column>
            <vxe-column field="CreateTime" title="@Resource.CreateAt" width="100"></vxe-column>
        </vxe-table>

       </template>

    </vxe-modal>
</div>
@section PageSpecificJavascriptIncludes{
    <script src="~/Areas/Prod/js/Plan.js?v=@Guid.NewGuid().ToString()"></script>
    @*<link rel="stylesheet" href="~/Content/main_inv.css">*@
}
