@using Resources;
@using VNCF.PSS.Web.Areas.Stock.Models;
@model TransferHead

@{
//Layout = null;
}
@section PageSpecificStyleSheetIncludes{
<link rel="stylesheet" href="../css/vue/demo.css" />
    @*<link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/CFStyle.css?v=20201117102416263">*@
    <style type="text/css">
        .percent-100 tr {
            height: 20px;
        }



        .btnbox {
            width: 10px;
            height: 10px;
            background: #ddd;
            display: flex;
            align-items: center;
        }
    </style>
}
<div id="app" class="areabx clear" style="margin-bottom:0px;padding-bottom:0px;">
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true">
            <div class="botbtbx pdb0">
                @*<input type="button" value="添加部門" class="easyui-linkbutton" iconcls="icon-add" onclick="showPublishWin()" />
                    <input type="button" value="查询" class="easyui-linkbutton" iconcls="icon-search" onclick="reloadList();">*@
                <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnNew">新單</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach" onclick="showMessageDialog('Find','查找',800,560)">查询</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddHead" iconcls="icon-ok">确定</a>
                <a href="#" class="easyui-linkbutton" id="btnPprint" iconcls="icon-print" onclick="showMessageDialog('@Url.Action("Print")','列印',800,600,true);">列印</a>
                @*<button id="show" onclick="show()">Show</button>*@
            </div>
        </div>
    </div>
    <div class="mdHide">
        <input id="mdInput" />
    </div>
    <div class="easyui-tabs" style="width:99%;height:auto;">
        <div title="First Tab" style="padding:10px;" v-for="(item, index) in Langs" :key="index">
            @using (Html.BeginForm("EditHead", null, FormMethod.Post, new { id = "addFormHead", @clase = "form-inline", @role = "form" }))
            {

                <ul class="formod mgt10" id="ulPanel">

                    <li class="lb-std"><div class="input-group"><span>@Resource.OcID：</span>@Html.TextBoxFor(m => m.ID, new { @class = "easyui-textbox", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>{{id1}}:</span>@Html.TextBoxFor(m => m.TransferDate, new { @class = "easyui-textbox", @readonly = "true", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>{{item.WebFormName}}</span>@Html.TextBoxFor(m => m.FlagID, new { @class = "easyui-combotbox", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>倉庫編號:</span>@Html.TextBoxFor(m => m.LocID, new { @class = "easyui-combotbox", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>收貨倉庫:</span>@Html.TextBoxFor(m => m.NextLocID, new { @class = "easyui-combotbox", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>建立人:</span>@Html.TextBoxFor(m => m.CreateUser, new { @class = "easyui-textbox", @readonly = "true", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>建立時間:</span>@Html.TextBoxFor(m => m.CreateTime, new { @class = "easyui-textbox", @readonly = "true", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>修改人:</span>@Html.TextBoxFor(m => m.AmendUser, new { @class = "easyui-textbox", @readonly = "true", @style = "width:72%" })</div></li>
                    <li class="lb-std"><div class="input-group"><span>修改時間:</span>@Html.TextBoxFor(m => m.AmendTime, new { @class = "easyui-textbox", @readonly = "true", @style = "width:72%" })</div></li>
                </ul>

            }
        </div>
        <div title="Second Tab" closable="false" style="padding:10px;">

            @using (Html.BeginForm("EditHead", null, FormMethod.Post, new { id = "addFormDetails", @clase = "form-inline", @role = "form" }))
            {

                <table id="tbInput" class="percent-100" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="td-label"><div class="award-name"><span>制單編號：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("ProductMo", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>物料編號：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("GoodsID", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>物料描述：</span></div></td>
                            <td colspan="3"><div class="input-group">@Html.TextBox("GoodsName", "", new { @class = "easyui-textbox", @style = "width:100%", @readonly = "true" })</div></td>

                        </tr>
                        <tr>
                            <td class="td-label"><div class="award-name">交易數量：</div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("TransferQty", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>數量單位：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("QtyUnit", "", new { @class = "easyui-combobox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>交易重量：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("TransferWeg", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>重量單位：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("WegUnit", "", new { @class = "easyui-combobox", @style = "width:100%" })</div></td>
                            @*<td></td>*@

                        </tr>
                        <tr>
                            <td class="td-label"><div class="award-name"><span>批號：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("LotNo", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name"><span>序號：</span></div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("Seq", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                        </tr>

                    </tbody>
                </table>
            }

            <div class="areabx_divider"></div>
            <div data-options="region:'center'">
                <div class="easyui-layout" data-options="fit:true" style="background: #ccc;">
                    <table id="tbDetails" class="easyui-datagrid" title=@Resource.OcID style="width:100%;height:350px"
                           data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get',fit:true"></table>

                </div>
            </div>
            @*<a class="btn blue" title='添加產品' href="@Url.Action("Create")"><i class="icon-plus icon-white"></i> 添加產品</a>*@
        </div>


    </div>
</div>
@section PageSpecificJavascriptIncludes{
    @*<script src="~/Content/js/order.js"></script>*@
    <script src="~/Scripts/vue.js"></script>
    <script type="text/javascript">
        $(function () {
            //var baseUrl = '~/Lib/BaseDataList.ashx/GetItem?';//'/Areas/Base/ASHX/BaseDataList.ashx/GetItem?'
            //var wwwUrlPath = window.document.location.href;
            //var pathName = window.document.location.pathname;
            //var pos = wwwUrlPath.indexOf(pathName);
            //var localhostPath = wwwUrlPath.substring(0, pos);
            //$("#ID").textbox('setValue', localhostPath);
            //baseUrl = localhostPath + baseUrl;
            $('#FlagID').combobox({
                //url: 'GetDocFlag?r=' + Math.random(),//数据接收URL地址
                url: '/Base/BaseData/GetDocFlag?DocType=wh_transfer',//数据接收URL地址
                method: 'post',
                panelHeight: 'auto',
                valueField: 'ID',//主键值
                textField: 'Name',
                required: true
            });
            $('#LocID').combobox({
                url: '/Base/BaseData/GetLoc',//baseUrl + 'paraa=loc&parab=list',//数据接收URL地址
                method: 'post',
                panelHeight: 'auto',
                valueField: 'ID',//主键值
                textField: 'Name',
                required: true
            });
            $('#NextLocID').combobox({
                url: '/Base/BaseData/GetLoc',//数据接收URL地址
                method: 'post',
                panelHeight: 'auto',
                valueField: 'ID',//主键值
                textField: 'Name'
            });
            $('#QtyUnit').combobox({
                url: '/Base/BaseData/GetUnit?kind=05',//baseUrl + 'paraa=unit&parab=list',//数据接收URL地址
                method: 'post',
                panelHeight: 'auto',
                valueField: 'ID',//主键值
                textField: 'Name'
            });
            $('#WegUnit').combobox({
                url: '/Base/BaseData/GetUnit?kind=03',//baseUrl + 'paraa=unit&parab=list',//数据接收URL地址
                method: 'post',
                panelHeight: 'auto',
                valueField: 'ID',//主键值
                textField: 'Name'
            });
            //alert("OK");
            $("input", $("#GoodsID").next("span")).blur(function () {
                var result = Ajax.call('/Base/BaseData/GetGoodsInfo', '&GoodsID=' + $("#GoodsID").textbox('getValue'), "", 'GET', 'JSON', false);
                $("#GoodsName").textbox('setValue', result);
            })
            $('#btnNew').click(function () {
                AddNew();
            });
            $("#TransferDate").textbox('setValue', ChangeDateToChar(new Date()));
            $("input", $("#ID").next("span")).blur(function () {
                SearchTransferHead();
                SearchDetails();
            });

            SearchDetails();
        })

        //function show() {
        //    //debugger;
        //    var wwwUrlPath = window.document.location.href;
        //    $("#ID").textbox('setValue', wwwUrlPath);
        //}
        function SearchDetails() {
            var queryData = {
                ID: $("#ID").val(),
                //ClassId: $("#txtClassIdSerach").combobox("getValue")
            };
            //将值传递给initTable
            initList(queryData);
            return false;
        }
        function SearchTransferHead() {
            //Ajax异步实现加载
            $.ajax({
                url: "LoadTransferHead?ID=" + $("#ID").val(),
                error: ErryFunction, //错误执行方法
                success: FillTransferHead
            })
        }
        function FillTransferHead(data) {
            //debugger;
            for (var item in data) {
                //debugger;
                var rows = data[item];//key所对应的value
                //var val = jValue[0]["ProductMo"];
                //如果返回的data是列表的形式：List<>的就要用如下格式獲取值
                //$("#Ver").textbox('setValue', rows[0]["Ver"]);
                //如果返回的是model格式的，就按如下格式獲取值：
                $("#ID").textbox('setValue', rows["ID"]);
                $("#TransferDate").textbox('setValue', rows["TransferDate"]);
                $("#FlagID").textbox('setValue', rows["FlagID"]);
                $("#LocID").textbox('setValue', rows["LocID"]);
                $("#NextLocID").textbox('setValue', rows["NextLocID"]);
                //}
            }

        }
        function ErryFunction(data) { $.messager.alert("系统提示！", "沒有記錄!"); }
        function initList(queryData) {
            $('#tbDetails').datagrid({
                url: 'List',//'/Home/GetStudent?r=' + Math.random(),   //指向后台的Action来获取当前用户的信息的Json格式的数据
                iconCls: 'icon-view',//图标
                //fit: true,//自动适屏功能
                //fit: true,
                width: function () { return document.body.clientWidth * 2 },//自动宽度
                nowrap: true,
                //collapsible: true,
                autoRowHeight: false,//自动行高
                striped: true,
                collapsible: true,
                //sortName: 'Id',//排序列名为ID
                sortOrder: 'asc',//排序为将序
                remoteSort: false,
                idField: 'Seq',//主键值
                rownumbers: true,//显示行号
                multiSort: true,//启用排序 sortable: true //启用排序列
                pagination: true,
                loadMsg: 'Loading... ',
                emptyMsg: '<span>无记录</span>',
                pageSize: 10,
                pageList: [10, 20, 30, 40, 50],
                queryParams: queryData, //搜索条件查询
                columns: [[
                { field: 'Seq', title: '序號', width: 60 },
                { field: 'ProductMo', title: '制單編號', width: 100 },
                { field: 'GoodsID', title: '物料編號', width: 200 },
                { field: 'GoodsName', title: '物料描述', width: 200 },
                { field: 'TransferQty', title: '交易數量', width: 80 },
                { field: 'QtyUnit', title: '數量單位', width: 60 },
                { field: 'TransferWeg', title: '交易重量', width: 80 },
                { field: 'WegUnit', title: '重量單位', width: 60 },
                { field: 'NextLocID', title: '收貨部門', width: 80 },
                { field: 'LotNo', title: '批號', width: 100 },
                ]],
                toolbar: [{
                    id: 'btnAdd',
                    text: '新增',
                    iconCls: 'icon-add',
                    handler: function () {
                        @*$('#btnAdd').linkbutton('enable');
                        $('#btnAdd').click(function () {
                            //$('#AddDialog').dialog('open').dialog('setTitle', '新增項目');
                            //showMessageDialog("@Url.Action("Create")","新增產品",800,600,true);
                            Save();
                        });*@
                        Save();
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function () {
                        var RowUpdateByID = $('#tbDetails').datagrid('getSelections');
                        if (RowUpdateByID.length == 1) {
                            //实现绑定数据显示
                            BindUpdateList();
                            $("#UpdateDialog").dialog('open').dialog('setTitle', '修改信息');
                        }
                        else {
                            $.messager.alert("友情提示！", "每次只能修改一条，你已经选择了<font color='red'  size='6'>" + RowUpdateByID.length + "</font>条");
                        }
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        var RowDeleteByID = $('#tbDetails').datagrid("getSelections");
                        if (RowDeleteByID.length == 1) {
                            $.messager.confirm("删除信息", "您确认删除该条信息吗？", function (deleteClient) {
                                if (deleteClient) {
                                    $.post("Delete?r=" + Math.random(), { ID: $("#ID").val(), Seq: RowDeleteByID[0].Seq }, function (data) {
                                        if (data.Status == "OK") {
                                            //$.messager.alert("系统提示！", "删除成功");
                                            //这里要将上次删除的Id清空，否则下次再删除的时候会报错
                                            RowDeleteByID.length = "";
                                            //$("#tbDetails").datagrid('reload') //重新刷新整个页面
                                            $("#ID").textbox('setValue', data.ReturnValue);
                                            SearchDetails();
                                        }
                                        else {
                                            $.messager.alert("系统提示！", data.Msg);
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert("友情提示！", "每次只能删除一行，你已经选择了<font color='red' size='6'>" + RowDeleteByID.length + "</font>行");
                        }
                    }
                }, '-', {
                    id: 'btnreload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        $("#tbDetails").datagrid("reload");
                    }
                }],
                onClickRow: function (index, row) {
                    FillDetails();
                },

            });
        }
        function FillDetails() {
            var RowFindByID = $('#tbDetails').datagrid('getSelections');
            if (RowFindByID.length == 1) {
                //实现绑定数据显示
                //BindUpdateList();
                //debugger;
                var rows = RowFindByID[0];
                $("#Seq").textbox('setValue', rows.Seq);
                $("#ProductMo").textbox('setValue', rows.ProductMo);
                $("#GoodsID").textbox('setValue', rows.GoodsID);
                $("#GoodsName").textbox('setValue', rows.GoodsName);
                $("#TransferQty").textbox('setValue', rows.TransferQty);
                $("#QtyUnit").textbox('setValue', rows.QtyUnit);
                $("#TransferWeg").textbox('setValue', rows.TransferWeg);
                $("#WegUnit").textbox('setValue', rows.WegUnit);
                $("#LotNo").textbox('setValue', rows.LotNo);
            }
            else {
                $.messager.alert("系統提示！", "每次只能修改一条，你已经选择了<font color='red'  size='6'>" + RowFindByID.length + "</font>条");
            }
        }
        function Save() {
            if (!ValidForm()) {
                return;
            }
            var result = "";
            //var ID = $("#ID").val();
            //if (ID == "") {
            //    var ID = "";
            //    ID = SaveMaster();
            //    if (ID == "")
            //        return;
            //    $("#ID").textbox('setValue', ID);
            //}
            var postData = $("#addFormDetails").serializeArray();
            postData.push({ "name": "ID", "value": $("#ID").val() });
            postData.push({ "name": "TransferDate", "value": $("#TransferDate").textbox('getValue') });
            postData.push({ "name": "FlagID", "value": $("#FlagID").textbox('getValue') });
            postData.push({ "name": "LocID", "value": $("#LocID").textbox('getValue') });
            postData.push({ "name": "NextLocID", "value": $("#NextLocID").textbox('getValue') });
            ////Ajax异步实现加载
            $.ajax({
                //url: "AddList?ID1=" + ID+"&FlagID="+FlagID+"&LocID="+LocID+"&NextLocID="+NextLocID,
                url: "AddList",
                data: postData,
                //cache: false,
                //async: false,//改为同步方式
                type: "post",
                success: function (data) {
                    if (data.Status == "OK") {
                        $("#ID").textbox('setValue', data.ReturnValue);
                        $("#addForm").form("clear")
                        SearchDetails();
                    }
                    else {
                        $.messager.alert("系统提示！", data.Msg);
                    }
                }
            })
            //Ajax.call('AddList1?OcID=' + OcID, $.toJSON(postData), addToCartResponse, 'POST', 'JSON');
        }
        function SaveMaster() {
            //var valid = $("#addFormHead").form('validate');
            //if (valid == false) {
            //    return false;
            //}
            var ID = "";
            var postData = $("#addFormHead").serializeArray();
            //Ajax异步实现加载
            $.ajax({
                url: "AddTransferHead?r=" + Math.random(),
                data: postData,
                async: false,//改为同步方式
                type: "post",
                success: function (data) {
                    if (data != "") {
                        //$.messager.alert("系统提示！", "添加主表記錄成功!");
                        //$('#AddDialog').dialog('close');
                        //$("#tbDetails").datagrid("reload");
                        //$("#addFormHead").form("clear")
                        //SearchOcDetails();
                        ID = data;
                    }
                    else {
                        $.messager.alert("系统提示！", "添加失败");
                    }
                }
            })
            return ID;
        }
        function ValidForm() {
            var valid = $("#addFormHead").form('validate');
            if (valid == false) {
                var msg = GetSystemMessage("CN00001");//主表記錄未輸入完整
                $.messager.alert("系统提示！", msg);
                return false;
            }
            valid = $("addFormDetails").form('validate');
            if (valid == false) {
                var msg = GetSystemMessage("CN00002");//明細表記錄未輸入完整
                $.messager.alert("系统提示！", msg);
                return false;
            }
            var result = Ajax.call('GetDocFlagReturnString', '&ID=' + $("#FlagID").textbox('getValue'), "", 'GET', 'JSON', false);
            if (result == "TO")
            {
                if ($("#NextLocID").textbox('getValue') == "") {
                    var msg = GetSystemMessage("ST00004");//收貨部門不能為空
                    $.messager.alert("系统提示！", msg);
                    return false;
                }
                if ($("#LocID").textbox('getValue') == $("#NextLocID").textbox('getValue')) {
                    var msg = GetSystemMessage("ST00005");//發貨倉庫不能和收貨部門相同
                    $.messager.alert("系统提示！", msg);
                    return false;
                }
            }
            return true;
        }
        var edit_mode = '0';//新增狀態
        function AddNew() {
            $("#ID").textbox('setValue', '');
            $("#TransferDate").textbox('setValue', ChangeDateToChar(new Date()));
            $("#LocID").textbox('setValue', '');
            $("#FlagID").textbox('setValue', '');
            $("#NextLocID").textbox('setValue', '');
            edit_mode = '1';
        }

    </script>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                id1: "a123",
                btn_edititem:"",
                Langs:[]
            },
            created: function () {
                var self = this;
                $.ajax({
                    url: "/Base/BaseData/LoadFormLanguage?WebFormName=Sales.Order.Index",
                    type: 'post',
                    //data: { 'param': obja }, //参数
                    dataType: 'json'
                }).then(function (res) {
                    //console.log(res);
                    //把从json获取的数据赋值给数组
                    debugger;
                    self.Langs = res;
                    self.btn_edititem = res.btn_edititem;
                }).fail(function () {
                    console.log('失败');
                })
            },
        })
    </script>
}