@using Resources;
@using VNCF.PSS.Web.Areas.Sales.Models;
@model Order_Head
@{
    ViewBag.Title = "Sales Order";
}
@section PageSpecificStyleSheetIncludes{
    <style>
        /* el-divider 修改高度實線效果,自動覆蓋原樣式 */
        .el-divider--horizontal {
            margin: 8px 0;
            background: 0 0;
            border-top: 0px solid #e8eaec;
        }
        /*避免el-select控件寬度與input控件寬度不一致 */
        .el-form .el-select {
            width: 100%;
        }
        /*只讀控件背景色,且文本居中*/
        .readonly-background .el-input__inner {
            width: 100%;
            background-color: #e8e8e8;
            text-align: center;
            border-color: #c0c4cc;
            color: #000;
        }
        /* 输入框或下拉选框禁用时字體顏色*/
        .el-select .el-input.is-disabled .el-input__inner{              
              color: #606266 !important;
          }
        /*用自定義的行高覆蓋原始行高*/
        .el-row{
	        margin-bottom: -18px;
	        display: flex;
	        flex-wrap: wrap
        }
        /*表頭高度*/
        /*.el-table__header tr,.el-table__header th {
            padding: 0;
            height: 10px;
        }        
        .el-table__body tr,.el-table__body td {
            padding: 0;
            height: 12px;
        }*/
        
        /*主檔圖片*/
        .div-right{
            /*float:right;            
            width:20%;*/
            position:absolute;
            width:120px;
            height:120px;
            position:absolute;            
            left:80%;
            top:40px;
            /*background-color:yellow;*/
        }
        .img-plan{
            border:thick;
            width:80%;
        }
        
        /*設置el-tabs頁面高度,内容超出高度可滚动*/
        .el-tabs--card {
          height: calc(100vh - 110px);
          /* overflow-y: auto; */
        }
        .el-tab-pane {
          height: calc(100vh - 110px);
          overflow-y: auto;
        } 
        /*模式窗口Title背景條*/
        .el-dialog__header{
            padding:12px 20px 10px;
            background-color: #f5f7fa;
        }        
        /* 用来设置当前页面element全局table 选中某行时的背景色*/
        .el-table__body tr.current-row>td{
            background-color: #87CEFA !important;
            color: #fff;
        }
        /*工具欄按鈕設置產色及邊框*/
        .tool-bar-color{
            padding: 2px;
            margin-top:5px;
            margin-left:2px;
            background-color: #F5F7FA;
            border:1px solid #e8e8e8;
        }
        /*.el-button {
          border-radius: 2px;
          padding: 0;
          margin-left: -25px;
          width: 100px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size:12px;
          background-color:#008FD4;
        }*/
        /*框架el-dialog 内边距过大，导致空白区域很多*/
        .el-dialog__body{ 
            padding:0 !important; 
            padding-left: 2rem !important; 
            padding-right: 2rem !important; 
            padding-bottom: 0.55rem !important;
        }

        
    </style>
}

<div id="app">     
    <template> 
        <div class="tool-bar-color">
            <el-button type="primary" plain size="small" icon="el-icon-document-add" @@click="addHead" v-if="!(isEditModeHead)">@Resource.btn_new</el-button>
            <el-button type="danger" plain size="small" icon="el-icon-delete-solid" @@click="cancelHead" v-if="!(isEditModeHead)" style="margin-left: -2px;">@Resource.Delete</el-button>
            <el-button type="primary" plain size="small" icon="el-icon-edit" @@click="editHead" v-if="!(isEditModeHead)" style="margin-left: -2px;">@Resource.btn_edit</el-button>
            <el-button type="primary" plain size="small" icon="el-icon-s-grid" @@click="addItem" v-if="!(isEditModeHead)" style="margin-left: -2px;">@Resource.btn_additem</el-button>
            <el-button type="success" plain size="small" icon="el-icon-check" @@click="saveHead" v-if="isEditModeHead" style="margin-left: -2px;">@Resource.btn_save</el-button>
            <el-button type="warning" plain size="small" icon="el-icon-check" @@click="resetHead" v-if="isEditModeHead" style="margin-left: -2px;">@Resource.btn_undo</el-button>
            <el-button type="success" plain size="small" icon="el-icon-upload2" @@click="importHead" v-if="!(isEditModeHead)" style="margin-left: -2px;">@Resource.btn_import</el-button>
            <el-button type="warning" plain size="small" icon="el-icon-search" @@click="cancelItem" v-if="!(isEditModeHead)" style="margin-left: -2px;">@Resource.ItemCancel</el-button>
            <el-button type="primary" plain size="small" icon="el-icon-search" @@click="showSearch" v-if="!(isEditModeHead)">@Resource.btn_search</el-button>
            <el-button type="primary" plain size="small" icon="el-icon-printer" @@click="printPI" v-if="!(isEditModeHead)" style="margin-left: -2px;">@Resource.btn_print</el-button>
        </div>
    </template>
    
    <!--查找窗口-->
    <template v-if="isRenderSearchWindow">
        <el-dialog :title="title" :visible.sync="showDialogSearch" :close-on-click-modal="false" width="65%" destroy-on-close>
           
            <div class="tool-bar-color" style="margin-bottom:5px;margin-left:5px;">
                <template>
                    <el-button type="danger" plain size="small" icon="el-icon-close" @@click="closeDialog('searchForm')">@Resource.btn_exit</el-button>
                    <el-button type="primary" plain size="small" icon="el-icon-search" @@click="searchData">@Resource.btn_search</el-button>
                    <el-button type="primary" plain size="small" icon="el-icon-check" @@click="afterSelectOK" >@Resource.btn_ok</el-button>
                    <el-button type="primary" plain size="small" icon="el-icon-refresh-left" @@click="clearSearch">@Resource.btn_blank</el-button>
                </template>
            </div>            
            <el-form :model="searchFormData" ref="searchForm" label-width="100px" size="mini">
                <el-row>
                    <el-col :span="8">
                        <el-form-item prop="OcID" label="@Resource.OcID"><el-input v-model="searchFormData.OcID"></el-input></el-form-item><!--OC編號-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="OrderDate" label="@Resource.OrderDate">
                            <el-date-picker v-model="searchFormData.OrderDate" type="date" style="width:100%" ref="Order_Date" @@change="dateChange('Order_Date')"></el-date-picker>                        
                        </el-form-item><!--落單日期-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="ReceivedDate" label="@Resource.ReceivedDate">
                            <el-date-picker v-model="searchFormData.ReceivedDate" type="date" style="width:100%" ref="Received_Date" @@change="dateChange('Received_Date')"></el-date-picker> 
                        </el-form-item><!--接單日期-->
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item prop="ForeignFirm" label="@Resource.ForeignFirm"><el-input v-model="searchFormData.ForeignFirm"></el-input></el-form-item><!--洋行編號-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="Area" label="@Resource.Area"><el-input v-model="searchFormData.Area"></el-input></el-form-item><!--區域-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="CustomerID" label="@Resource.CustomerID"><el-input v-model="searchFormData.CustomerID"></el-input></el-form-item><!--客戶編號-->
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item prop="SallerID" label="@Resource.SallerID"><el-input v-model="searchFormData.SallerID"></el-input></el-form-item><!--營業員-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="Season" label="@Resource.Season"><el-input v-model="searchFormData.Season"></el-input></el-form-item><!--季度-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="ContractID" label="@Resource.ContractID"><el-input v-model="searchFormData.ContractID"></el-input></el-form-item><!--PO/NO-->
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item prop="BrandID" label="@Resource.BrandID"><el-input v-model="searchFormData.BrandID"></el-input></el-form-item><!--牌子編號-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="ProductMo" label="@Resource.ProductMo"><el-input v-model="searchFormData.ProductMo"></el-input></el-form-item><!--頁數-->
                    </el-col>
                    <el-col :span="8">
                        <el-form-item prop="ProductID" label="@Resource.ProductID"><el-input v-model="searchFormData.ProductID"></el-input></el-form-item><!--貨品編碼-->
                    </el-col>
                </el-row>
            </el-form>
            <template>
                <el-table :data="tableDataSearch"
                          height="300"
                          :header-cell-style="{background:'#F5F7FA',color:'#606266',height:'25px',padding:'2px'}"
                          :row-style="{height:'18px'}"
                          :cell-style="{padding:'0px'}"
                          border
                          highlight-current-row
                          stripe
                          style="font-size: 12px;width: 100%"                          
                          @*:default-sort="{prop:'RoleID',order:'descending'}"*@                         
                          v-loading="isLoading"
                          element-loading-background="rgba(255, 255, 255, .5)"
                          element-loading-text="加载中，请稍后..."
                          element-loading-spinner="el-icon-loading"
                          @@row-click="rowSearchClick"
                          @@row-dblclick="rowSearchDoubleClick"
                          >
                    <el-table-column prop="OcID" label="@Resource.OcID" width="130"></el-table-column>
                    <el-table-column prop="Ver" label="@Resource.Ver" width="50" align="center"></el-table-column>
                    <el-table-column prop="OrderDate" label="@Resource.OrderDate" width="100"></el-table-column>                    
                    <el-table-column prop="CustomerID" label="@Resource.CustomerID" width="90"></el-table-column>
                    <el-table-column prop="MoState" label="@Resource.State" width="70" align="center" ></el-table-column>
                    <el-table-column prop="ProductMo" label="@Resource.ProductMo" width="100"></el-table-column>
                    <el-table-column prop="ProductID" label="@Resource.ProductID" width="170"></el-table-column>
                    <el-table-column prop="ProductCdesc" label="@Resource.ProductCdesc" width="150" :show-overflow-tooltip="true"></el-table-column>
                    <el-table-column prop="OrderQty" label="@Resource.OrderQty" width="90"></el-table-column>
                    <el-table-column prop="Price" label="@Resource.Price" width="100"></el-table-column>
                    <el-table-column prop="PriceUnit" label="@Resource.PriceUnit" width="80"></el-table-column>
                    <el-table-column prop="RateDiscount" label="@Resource.DiscountRate" width="90"></el-table-column>
                    <el-table-column prop="AmountDiscount" label="@Resource.Discount" width="90"></el-table-column>
                    <el-table-column prop="AmountProduct" label="@Resource.ProductAmount" width="100"></el-table-column>    
                </el-table>
            </template>
        </el-dialog>
    </template><!--查找窗口結束-->
   
     <!--查找貨品編碼-->
    <template v-if="isRenderFindItem">
        <el-dialog title="Find Item" :visible.sync="showDialogFindItem" :close-on-click-modal="false" width="60%" style="margin-top:0px;">
            <div class="tool-bar-color" style="margin-bottom:5px;margin-left:0px;">
                <template>
                    <el-button type="danger" plain size="small" icon="el-icon-close" @@click="closeDialog('findItem')">@Resource.btn_exit</el-button>
                    <el-button type="primary" plain size="small" icon="el-icon-search" @@click="getFindItemData">@Resource.btn_search</el-button>
                    <el-button type="primary" plain size="small" icon="el-icon-check" @@click="rowFindItemDoubleClick">@Resource.btn_ok</el-button>                    
                </template>
            </div>
            <el-form :model="findItem" ref="findItem" label-width="100px" size="mini">
            <div style="margin-bottom:5px;">
               <el-row>
                    <el-col :span="12" style="width:45%">
                        <el-form-item label="@Resource.ProductID"><el-input v-model="findItem.ProductID"></el-input></el-form-item>
                    </el-col>
               </el-row>
            </div>
            @*<el-row>
                <el-col :span="12" style="width:45%">
                    <el-form-item label="@Resource.ProductID"><el-input v-model="findItem.ProductID"></el-input></el-form-item>
                </el-col>
            </el-row>*@
            @*<el-row>
                <el-col :span="12" style="width:60%">
                    <el-form-item label="@Resource.CodeType">
                        <template>
                            <el-radio-group v-model="findItem.type">
                                <el-radio :label="3">@Resource.FinshedProduct</el-radio><!--成品-->
                                <el-radio :label="0">@Resource.Made</el-radio><!--自制品-->
                                <el-radio :label="1">@Resource.Cosign</el-radio><!--委外加工-->
                                <el-radio :label="2">@Resource.Purcharse</el-radio><!--採購件-->
                            </el-radio-group>
                        </template>
                    </el-form-item>
                </el-col>
            </el-row>*@
            </el-form>           
            <template>
                <el-table :data="tableDataFindItem"
                          height="350"
                          :header-cell-style="{background:'#F5F7FA',color:'#606266',height:'25px',padding:'2px'}"
                          :row-style="{height:'18px'}"
                          :cell-style="{padding:'0px'}"
                          border
                          highlight-current-row
                          stripe
                          style="font-size: 12px;width: 100%"
                          :default-sort="{prop:'ProductID',order:'ascending'}"
                          v-loading="isLoading"
                          element-loading-background="rgba(255, 255, 255, .5)"
                          element-loading-text="加载中，请稍后..."
                          element-loading-spinner="el-icon-loading"
                          @@row-click="rowFindItemClick"
                          @@row-dblclick="rowFindItemDoubleClick">
                    <el-table-column prop="ProductID" label="@Resource.ProductID" width="170"></el-table-column>
                    <el-table-column prop="ProductCdesc" label="@Resource.ProductCdesc" width="250" :show-overflow-tooltip="true"></el-table-column>
                    <el-table-column prop="ProductEdesc" label="@Resource.ProductEdesc" width="250" :show-overflow-tooltip="true"></el-table-column>
                    <el-table-column prop="Type" label="@Resource.CodeType" width="150"></el-table-column>
                </el-table>
            </template>
            <!--分頁全功能-->
            <div class="block">
                <el-pagination align="center"
                               background
                               @@size-change="handleSizeChange"
                               @@current-change="handleCurrentChange"
                               :current-page="tablePage.currentPage"
                               :page-sizes="[10, 20, 30, 40]"
                               :page-size="tablePage.pageSize"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="tablePage.totalResult">
                </el-pagination>
            </div> 
        </el-dialog>
    </template><!--end 查找貨品編碼-->
    
    <template>
        <!--el-tabs v-model="activeName" type="border-card" @@tab-click="handleClick" :height="autoHeight"-->
        <!--第一頁-->
        <!--el-tab-pane label="Resource.sales_order_master" name="first" size="mini" -->
        <el-form :model="formHeadData" ref="formHead" label-width="125px" size="mini" :rules="rulesHead" >
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--區域-->
                    <el-form-item prop="Area" label="@Resource.Area">
                        @*<el-input v-model="formHeadData.Area"></el-input>*@
                        <el-select v-model="formHeadData.Area" @@change="onAreaChange" :disabled="isDisableArea">
                            <el-option v-for="item in arrZone" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select>
                    </el-form-item>
                </el-col>                
                <el-col :span="6" style="width:20%">
                    <el-form-item prop="OrderDate" label="@Resource.OrderDate">
                        <el-date-picker v-model="formHeadData.OrderDate" type="date" style="width:100%" :readonly="isReadonly" ref="OrderDate" @@change="dateChange('OrderDate')">
                        </el-date-picker>
                    </el-form-item>
                </el-col> 
                <el-col :span="6" style="width:20%">
                    <!--價格條件-->
                    <el-form-item prop="PriceType" label="@Resource.PriceType">                       
                        <el-select v-model="formHeadData.PriceType" :disabled="isDisable">
                            <el-option v-for="item in arrPriceType" :key="item.ID" :label="item.Name":value="item.ID"/>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--客戶PO-->
                    <el-form-item prop="PoNo" label="@Resource.PoNo">
                        <el-input v-model.trim="formHeadData.PoNo" @@blur="onToUpperCaseBlur($event,'PoNo',1)" :readonly="isReadonly"></el-input>
                    </el-form-item>                    
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="6" style="width:20%">
                    <el-form-item prop="OcID" label="@Resource.OcID">
                        <el-input id="OcID" v-model="formHeadData.OcID" style="width:65%" readonly ref="ocId"></el-input>
                        <el-input id="Ver" v-model="formHeadData.Ver" style="width:20%" readonly></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--洋行編號-->
                    <el-form-item prop="ForeignFirm" label="@Resource.ForeignFirm">
                        @*<el-input v-model="formHeadData.ForeignFirm"></el-input>*@
                        @*<el-select v-model="formHeadData.ForeignFirm" :disabled="isDisable">                           
                            <el-option v-for="item in arrForeignFirm" :key="item.ID" :label="item.ID" :value="item.ID"/>
                        </el-select>*@
                        <el-input v-model="formHeadData.ForeignFirm"
                                  @@blur="onForeignFirmBlur($event)"                           
                                  @*@@blur="onForeignFirmBlur"*@ 
                                  onkeyup="this.value=this.value.toUpperCase()"
                                  @*onkeyup="onToUpperCaseBlur($event,'ForeignFirm',1)"*@

                                  :readonly="isReadonly">
                        </el-input>                         
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--營業員-->
                    <el-form-item prop="SallerID" label="@Resource.SallerID">                        
                        <el-select v-model="formHeadData.SallerID" :disabled="isDisable">
                            <el-option v-for="item in arrSallerID" :key="item.ID" :label="item.Name" :value="item.ID" />   
                        </el-select>                        
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--跟單員-->
                    <el-form-item prop="Merchandisers" label="@Resource.Merchandisers">
                        <el-select v-model="formHeadData.Merchandisers" :disabled="isDisable">
                            <el-option v-for="item in arrMerchandisers" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select>
                    </el-form-item>
                </el-col>
               
            </el-row>
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--客戶編號-->
                    <el-form-item prop="CustomerID" label="@Resource.CustomerID"><el-input v-model="formHeadData.CustomerID" @@blur="onCustomerIDBlur" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--貨幣代號-->
                    <el-form-item prop="CurrencyID" label="@Resource.CurrencyID">
                        @*<el-input v-model="formHeadData.CurrencyID" style="width:50%"></el-input>*@
                        <el-select v-model="formHeadData.CurrencyID" @@change="onCurrencyIDChange" :disabled="isDisable">
                            <el-option v-for="item in arrMoney" :key="item.ID" :label="item.Name" :value="item.ID"/>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--貨幣匯率-->
                    <el-form-item prop="CurrencyRate" label="@Resource.CurrencyRate"><el-input v-model="formHeadData.CurrencyRate" readonly></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--聯繫人-->
                    <el-form-item prop="Contacts" label="@Resource.Contacts"> <el-input v-model="formHeadData.Contacts" :readonly="isReadonly"></el-input> </el-form-item>
                </el-col>  
            </el-row>
            <el-row>
                 <el-col :span="6" style="width:20%">
                    <!--客戶名稱(中文)-->
                    <el-form-item prop="CustomerCdesc" label="@Resource.CustomerCdesc"> <el-input v-model="formHeadData.CustomerCdesc" :disabled="isDisable2"></el-input> </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--客戶名稱(英文)-->
                    <el-form-item prop="CustomerEdesc" label="@Resource.CustomerEdesc"><el-input v-model="formHeadData.CustomerEdesc" :disabled="isDisable2"></el-input></el-form-item>
                </el-col>               
                <el-col :span="6" style="width:20%">
                    <!--聯繫人電話-->
                    <el-form-item prop="ContactsTel" label="@Resource.ContactsTel"><el-input v-model="formHeadData.ContactsTel" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--傳真-->
                    <el-form-item prop="ContactsFax" label="@Resource.ContactsFax"><el-input v-model="formHeadData.ContactsFax" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>               
            </el-row>
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--郵件-->
                    <el-form-item prop="ContactsEmail" label="@Resource.ContactsEmail"><el-input v-model="formHeadData.ContactsEmail" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>               
                <el-col :span="6" style="width:20%">
                    <!--跟單員電話-->
                    <el-form-item prop="MerchandisersTel" label="@Resource.MerchandisersTel"><el-input v-model="formHeadData.MerchandisersTel" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--跟單員郵件-->
                    <el-form-item prop="MerchandisersEmail" label="@Resource.MerchandisersEmail"><el-input v-model="formHeadData.MerchandisersEmail" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--季度-->
                    <el-form-item prop="Season" label="@Resource.Season">
                        <el-select v-model="formHeadData.Season" :disabled="isDisable">
                            <el-option v-for="item in arrSeason" :key="item.ID" :label="item.ID" :value="item.ID" />
                        </el-select>
                    </el-form-item>
                </el-col>   
            </el-row>
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--裝貨港口-->
                    <el-form-item prop="DeliveredPort" label="@Resource.DeliveredPort">              
                        <el-select v-model="formHeadData.DeliveredPort" :disabled="isDisable">
                            <el-option v-for="item in arrDeliveredPort" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select> 
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--目的港口-->
                    <el-form-item prop="DestinationPort" label="@Resource.DestinationPort">                       
                        <el-select v-model="formHeadData.DestinationPort" :disabled="isDisable">
                            <el-option v-for="item in arrDeliveredPort" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select> 
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--接單日期-->
                    <el-form-item prop="ReceivedDate" label="@Resource.ReceivedDate">
                        <el-date-picker v-model="formHeadData.ReceivedDate" type="date" style="width:100%" :readonly="isReadonly" ref="ReceivedDate" @@change="dateChange('ReceivedDate')"></el-date-picker>
                    </el-form-item>
                </el-col>                
                <el-col :span="6" style="width:20%">
                    <!--付款方式-->
                    <el-form-item prop="PaymentType" label="@Resource.PaymentType">                       
                        <el-select v-model="formHeadData.PaymentType" :disabled="isDisable">
                            <el-option v-for="item in arrPaymentType" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select> 
                    </el-form-item>
                </el-col>                
            </el-row>
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--制單類型-->
                    <el-form-item prop="OrderType" label="@Resource.OrderType"><el-input v-model="formHeadData.OrderType" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>               
                <el-col :span="6" style="width:20%">
                    <!--裝運方式-->
                    <el-form-item prop="Transport" label="@Resource.Transport">
                        <el-select v-model="formHeadData.Transport" :disabled="isDisable">
                            <el-option v-for="item in arrTransport" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--折扣率%-->
                    <el-form-item prop="DiscountRate" label="@Resource.DiscountRate">
                        <el-input v-model="formHeadData.DiscountRate" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" @@blur="onDiscountRateBlur" :readonly="isReadonly"></el-input>
                        @*@@change="checkDiscountRate"*@                        
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--折扣額-->
                    <el-form-item prop="Discount" label="@Resource.Discount"><el-input v-model="formHeadData.Discount" readonly></el-input></el-form-item>
                </el-col>                
            </el-row>
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--稅款編號-->
                    <el-form-item prop="TaxNo" label="@Resource.TaxNo"><el-input v-model="formHeadData.TaxNo" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--稅款金額-->
                    <el-form-item prop="Tax" label="@Resource.Tax"><el-input v-model="formHeadData.Tax" readonly></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--貨品金額-->
                    <el-form-item prop="ProductAmount" label="@Resource.ProductAmount"><el-input v-model="formHeadData.ProductAmount" readonly></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--總金額-->
                    <el-form-item prop="TotalAmount" label="@Resource.TotalAmount"><el-input v-model="formHeadData.TotalAmount" readonly></el-input></el-form-item>
                </el-col>               
            </el-row>
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--銀行賬號-->
                    <el-form-item prop="BankAccount" label="@Resource.BankAccount">      
                        <el-select v-model="formHeadData.BankAccount" :disabled="isDisable">
                            <el-option v-for="item in arrBankAccount" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12" style="width:40%">
                    <!--備注-->
                    <el-form-item prop="Remark" label="@Resource.Remark"><el-input v-model="formHeadData.Remark" :readonly="isReadonly"></el-input></el-form-item>
                </el-col>                
                <el-col :span="6" style="width:20%">
                    <!--狀態-->
                    <el-form-item prop="State" label="@Resource.State">                        
                        <el-select v-model="formHeadData.State" :disabled="isDisable2">
                            <el-option v-for="item in arrState" :key="item.ID" :label="item.Name" :value="item.ID" />
                        </el-select>
                    </el-form-item> 
                </el-col>                
                            
            </el-row>
            <el-row>
                <el-col :span="6" style="width:20%">
                    <!--建檔人-->
                    <el-form-item prop="CreateBy" label="@Resource.CreateBy"><el-input v-model="formHeadData.CreateBy" readonly></el-input></el-form-item>
                </el-col>   
                <el-col :span="6" style="width:20%">
                    <!--建檔日期-->
                    <el-form-item prop="CreateAt" label="@Resource.CreateAt"><el-input v-model="formHeadData.CreateAt" readonly></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--更改人-->
                    <el-form-item prop="UpdateBy" label="@Resource.UpdateBy"><el-input v-model="formHeadData.UpdateBy" readonly></el-input></el-form-item>
                </el-col>
                <el-col :span="6" style="width:20%">
                    <!--更改日期-->
                    <el-form-item prop="UpdateAt" label="@Resource.UpdateAt"><el-input v-model="formHeadData.UpdateAt" readonly></el-input></el-form-item>
                </el-col>
                @*<el-col ::span="6" style="width:20%">
                        <el-form-item prop="ActionType" label="隱藏字段"><el-input v-model="formHeadData.ActionType"></el-input></el-form-item>
                    </el-col>*@
            </el-row>

            <div class="div-right">
                <p>                   
                    <img :src="ArtImageUrl" alt="..." class="img-plan">
                    @*<img src="~/Images/photo.png" alt="..." class="img-plan">*@
                   
                </p>                
            </div>
        </el-form>

        <!--/el-tab-pane-->
        <!--第二頁-->
        <!--el-tab-pane label="@Resource.sales_order_details" name="second"-->
        <!--公共彈窗 開始-->
        <template v-if="isRenderEditWindow">            
            <el-dialog :title="titleMap[dialogStatus]"
                        :visible.sync="showDialog"
                        :close-on-click-modal="false"
                        width="100%" 
                        :show-close="false">
                <el-form :model="formDetailData" ref="formDetail" :rules="rulesItem" label-width="125px" size="mini">
                    <el-row>                        
                        <!--0-->
                        <el-col :span="6" style="width:23%">                        
                            <el-form-item label="@Resource.Seq" prop="Seq"> <el-input v-model="formDetailData.Seq" :disabled="isDisable2"></el-input></el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:21%">                       
                            <el-form-item label="@Resource.OcID" prop="OcID" v-if="false"> <el-input v-model="formDetailData.OcID"></el-input></el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">                       
                            <el-form-item label="@Resource.Ver" prop="Ver" v-if="false"> <el-input v-model="formDetailData.Ver"></el-input></el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <!--1-->
                        <el-col :span="6" style="width:23%">
                            <!--制單類型-->
                            <el-form-item label="@Resource.MoType" prop="MoType">                            
                                <el-select v-model="formDetailData.MoType" @@change="onMoTypeChange" :disabled="isDisableMo">
                                    <el-option v-for="item in arrMoType" :key="item.ID" :label="item.Name" :value="item.ID"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:21%">
                            <el-form-item label="做貨部門" prop="MoType">
                                <el-select v-model="formDetailData.MoDept" @@change="onMoDeptChange" :disabled="isDisableMo">
                                    <el-option v-for="item in arrMoDept" :key="item.ID" :label="item.Name" :value="item.ID"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">
                            <el-form-item label="組別" prop="MoGroup">                            
                                <el-select v-model="formDetailData.MoGroup" @@change="onMoGroupChange" :disabled="isDisableMo">
                                    <el-option v-for="item in arrMoGroup" :key="item.ID" :label="item.Name" :value="item.ID"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:35%">
                            <el-form-item label="@Resource.ProductMo" prop="ProductMo">
                                <el-input v-model="formDetailData.ProductMo" style="width:50%" readonly></el-input>
                                <el-input v-model="formDetailData.ProductMoVer" style="width:28%" :disabled="isDisable2"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <!--2-->
                        <el-col :span="6" style="width:23%">
                            <!--產品編號-->
                            <el-form-item label="@Resource.ProductID" prop="ProductID">
                                <el-input v-model="formDetailData.ProductID" 
                                            :readonly="isReadonly" 
                                            type="text" maxlength="14"
                                            onkeyup="this.value = this.value.toUpperCase()" >
                                    <el-button slot="append" icon="el-icon-search" @@click="openFindItem" v-if="isItemSave"></el-button>
                                </el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" style="width:41%">
                            <!--產品描述-->
                            <el-form-item label="@Resource.ProductCdesc" prop="ProductCdesc"><el-input v-model="formDetailData.ProductCdesc" :readonly="isReadonly"></el-input></el-form-item>
                        </el-col>
                        <!--取色辦-->
                        <el-col :span="6" style="width:30%">
                            <el-form-item label="@Resource.GetColorSample" prop="GetColorSample"><el-input v-model="formDetailData.GetColorSample" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <!--3 -->
                        <el-col :span="6" style="width:23%">
                            <!--款號-->
                            <el-form-item label="@Resource.StyleNo" prop="StyleNo">
                                @*<el-input v-model="formDetailData.StyleNo" onkeyup="value=value.toUpperCase()":readonly="isReadonly"></el-input>*@ 
                                <el-input v-model="formDetailData.StyleNo" @@blur="onToUpperCaseBlur($event,'StyleNo',2)" :readonly="isReadonly"></el-input> 
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:21%">
                            <!--牌子編號-->
                            <el-form-item label="@Resource.BrandID" prop="BrandID">
                                <el-input v-model="formDetailData.BrandID" @@blur="onBrandBlur" :readonly="isReadonly"></el-input> 
                                @*<el-select v-model="formDetailData.BrandID" :disabled="isDisable">
                                    <el-option v-for="item in arrBrand" :key="item.ID" :label="item.Name" :value="item.ID"></el-option>
                                </el-select>*@
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">
                            <!--客戶產品編號-->
                            <el-form-item label="@Resource.CustProductID" prop="CustProductID"> 
                                <el-input v-model="formDetailData.CustProductID" @@blur="onToUpperCaseBlur($event,'CustProductID',2)" :readonly="isReadonly"></el-input> 
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:30%">
                            <!--客戶產品描述-->
                            <el-form-item label="@Resource.CustProductName" prop="CustProductName"> <el-input v-model="formDetailData.CustProductName" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <!--4-->
                        <el-col :span="6" style="width:23%">
                            <!--客戶顏色編號-->
                            <el-form-item label="@Resource.CustColorID" prop="CustColorID"> 
                                <el-input v-model="formDetailData.CustColorID" @@blur="onToUpperCaseBlur($event,'CustColorID',2)" :readonly="isReadonly"></el-input> 
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:21%">
                            <!--客戶顏色名稱-->
                            <el-form-item label="@Resource.CustColorName" prop="CustColorName"> <el-input v-model="formDetailData.CustColorName" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">
                            <!--客戶PO/NO-->
                            <el-form-item label="@Resource.ContractID" prop="ContractID">
                                <el-input v-model="formDetailData.ContractID" @@blur="onToUpperCaseBlur($event,'ContractID',2)" :readonly="isReadonly"></el-input> 
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:30%">
                            <!--客戶Size-->
                            <el-form-item label="@Resource.CustSize" prop="CustSize">
                                <el-input v-model="formDetailData.CustSize" @@blur="onToUpperCaseBlur($event,'CustSize',2)" :readonly="isReadonly"></el-input> 
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <!--5-->
                        <el-col :span="6" style="width:23%">
                            <!--訂單數量-->
                            <el-form-item label="@Resource.OrderQty" prop="OrderQty">
                                <el-input v-model.number="formDetailData.OrderQty" onkeyup="value=value.replace(/[^\d]/g,'')" @@blur="onOrderQtyBlur" :readonly="isReadonly"></el-input>      
                                @*<el-input v-model.number="formDetailData.OrderQty" @@keyup.native="proving" @@blur="onOrderQtyBlur" readonly="isReadonly"></el-input>*@                          
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:21%">
                            <!--訂單單位-->
                            <el-form-item label="@Resource.OrderUnit" prop="OrderUnit">
                                <el-select v-model="formDetailData.OrderUnit" @@change="onOrderUnit" :disabled="isDisable">
                                    <el-option v-for="item in arrUnit" :key="item.ID" :label="item.Name" :value="item.ID"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">
                            <!--單價-->
                            <el-form-item label="@Resource.Price" prop="Price">
                                <el-input v-model="formDetailData.Price" @@change="checkPrice" @@blur="onPriceBlur" :readonly="isReadonly"></el-input> 
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:30%">
                            <!--單價單位-->
                            <el-form-item label="@Resource.PriceUnit" prop="PriceUnit">                           
                                <el-select v-model="formDetailData.PriceUnit" @@change="onPriceUnit" :disabled="isDisable">
                                    <el-option v-for="item in arrUnit" :key="item.ID" :label="item.Name" :value="item.ID"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <!--6-->                   
                        <el-col :span="6" style="width:23%">
                            <!--折扣率-->
                            <el-form-item label="@Resource.DiscountRate" prop="RateDiscount">
                                <el-input v-model="formDetailData.RateDiscount" onkeyup="value=value.replace(/[^\d]/g,'')" @@blur="onRateDiscountBlur" :readonly="isReadonly"></el-input>                            
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:21%">
                            <!--折扣額-->
                            <el-form-item label="@Resource.Discount" prop="AmountDiscount">                            
                                <el-input v-model="formDetailData.AmountDiscount" :disabled="isDisable2"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">
                            <!--總金額-->
                            <el-form-item label="@Resource.ProductAmount" prop="AmountProduct"><el-input v-model="formDetailData.AmountProduct" :disabled="isDisable2"></el-input></el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:30%">
                            <!--是否免費-->
                            <el-form-item prop="IsFree"><el-checkbox v-model="formDetailData.IsFree" @@change="onIsFreeChange" :disabled="isReadonly">@Resource.IsFree</el-checkbox></el-form-item>                        
                        </el-col>              
                    </el-row>
                    <el-row>
                        <!--7-->
                        <el-col :span="6" style="width:23%">
                            <!--預計完成日期-->
                            <el-form-item label="@Resource.PlanCompleteDate" prop="PlanCompleteDate">                            
                                <el-date-picker v-model="formDetailData.PlanCompleteDate" type="date" style="width:100%" ref="PlanCompleteDate" @@change="dateChange('PlanCompleteDate')" :readonly="isReadonly"></el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:21%">
                            <!--交貨日期-->
                            <el-form-item label="@Resource.ArriveDate" prop="ArriveDate">                            
                                <el-date-picker v-model="formDetailData.ArriveDate" type="date" style="width:100%" ref="ArriveDate" @@change="dateChange('ArriveDate')" :readonly="isReadonly"></el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">
                            <!--交客日期-->
                            <el-form-item label="@Resource.FactoryShipOutDate" prop="FactoryShipOutDate">
                                <el-date-picker v-model="formDetailData.FactoryShipOutDate" type="date" style="width:100%" ref="FactoryShipOutDate" @@change="dateChange('FactoryShipOutDate')" :readonly="isReadonly"></el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:30%">
                            <!--是否列印-->
                            <el-form-item prop="IsPrint"><el-checkbox v-model="formDetailData.IsPrint" :disabled="isReadonly">@Resource.IsPrint</el-checkbox></el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <!--8-->
                        <el-col :span="12" style="width:44%">
                            <!--OC備註-->
                            <el-form-item label="@Resource.OcRemark" prop="OcRemark"><el-input v-model="formDetailData.OcRemark" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                        <el-col :span="12" style="width:50%">
                            <!--生產備註-->
                            <el-form-item label="@Resource.ProductRemark" prop="ProductRemark"><el-input v-model="formDetailData.ProductRemark" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>                   
                        <el-col :span="12" style="width:44%">
                            <!--電鍍備註-->
                            <el-form-item label="@Resource.PlateRemark" prop="PlateRemark"><el-input v-model="formDetailData.PlateRemark" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                        <el-col :span="12" style="width:50%">
                            <!--發票備註-->
                            <el-form-item label="@Resource.InvoiceRemark" prop="InvoiceRemark"><el-input v-model="formDetailData.InvoiceRemark" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12" style="width:44%">
                            <!--備註-->
                            <el-form-item label="@Resource.Remark" prop="Remarks"><el-input v-model="formDetailData.Remarks" :readonly="isReadonly"></el-input> </el-form-item>
                        </el-col>
                        <el-col :span="6" style="width:20%">
                            <!--頁數狀態-->
                            <el-form-item label="@Resource.MoState" prop="MoState">                            
                                <el-select v-model="formDetailData.MoState" :disabled="isDisable2">
                                    <el-option v-for="item in arrState" :key="item.ID" :label="item.Name" :value="item.ID"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        @*<el-col :span="6" style="width:30%">                        
                            <el-form-item label="ArtWork" prop="CustSize">
                                <el-input v-model="formDetailData.ArtImage" :readonly="isReadonly"></el-input>
                            </el-form-item>
                        </el-col>*@
                    </el-row>
                </el-form>
                <el-divider></el-divider>
                <div style="text-align: center">
                    <span slot="footer" class="dialog-footer">
                        <el-button type="primary" @@click="moveUp()" size="small" icon="el-icon-caret-left" v-if="isUpDown" plain>Prev</el-button>
                        <el-button type="primary" @@click="moveDown()" size="small" icon="el-icon-caret-right" v-if="isUpDown" plain>Next</el-button>
                        <el-button type="success" @@click="saveItem()" size="small" icon="el-icon-check" v-if="isItemSave" plain>@Resource.btn_save</el-button>
                        <el-button type="warning" @@click="closeDialog('formDetail')" size="small" icon="el-icon-close" plain>@Resource.btn_exit</el-button>
                    </span>
                </div>                

            </el-dialog>
        </template><!--公共彈窗結束-->

        <!--表格-->
        <template>
            <el-table :data="tableData"                
                @*设置表头的背景色,字体颜色,行高*@
                :header-cell-style="{background:'#f5f7fa',color:'#606266',height:'25px',padding:'0px'}"
                :row-style="{height:'18px'}"
                :cell-style="{padding:'0px'}"
                border
                highlight-current-row
                stripe
                style="font-size: 12px;width: 100%"                
                @*:default-sort="{prop:'RoleID',order:'descending'}"*@
                @*隱藏表頭的第二行*@
                @*:header-cell-style="handerMethod"*@
                v-loading="isLoading"
                element-loading-background="rgba(255, 255, 255, .5)"
                element-loading-text="加载中，请稍后..."
                element-loading-spinner="el-icon-loading"
                @@row-click="rowDetailsClick"
                :row-class-name="tableRowClassName"
                ref="elTable"
                :height="tableHeight" show-overflow-tooltip="true" >
                <el-table-column prop="OcID" label="@Resource.OcID" width="50" v-if="false"></el-table-column>
                <el-table-column prop="Ver" label="@Resource.Ver" width="50" v-if="false"></el-table-column>
                <el-table-column prop="Seq" label="@Resource.Seq" width="50" v-if="true"></el-table-column>                
                <el-table-column prop="MoType" label="@Resource.MoType" width="70" v-if="false"></el-table-column>
                <el-table-column prop="MoDept" label="做貨部門" width="70" v-if="false"></el-table-column>
                <el-table-column prop="MoGroup" label="組別" width="50" v-if="false"></el-table-column>
                <el-table-column prop="MoState" label="@Resource.State" width="60">
                    <template slot-scope="scope">                       
                        <span v-if="scope.row.MoState =='2'" style="color: red">{{formatStatus(scope.row.MoState)}}</span>
                        <span v-else>{{formatStatus(scope.row.MoState)}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="ProductMo" label="@Resource.ProductMo" width="100"></el-table-column>
                <el-table-column prop="ProductMoVer" label="@Resource.Ver" width="50"></el-table-column>
                <el-table-column prop="ProductID" label="@Resource.ProductID" width="160" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="ProductCdesc" label="@Resource.ProductCdesc" width="160" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="BrandID" label="@Resource.BrandID" width="80"></el-table-column>
                <el-table-column prop="StyleNo" label="@Resource.StyleNo" width="80" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="CustProductID" label="@Resource.CustProductID" width="110" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="CustColorID" label="@Resource.CustColorID" width="110" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="ContractID" label="@Resource.ContractID" width="100" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="OrderQty" label="@Resource.OrderQty" width="90"></el-table-column>
                <el-table-column prop="OrderUnit" label="@Resource.OrderUnit" width="90"></el-table-column>
                <el-table-column prop="Price" label="@Resource.Price" width="90"></el-table-column>
                <el-table-column prop="PriceUnit" label="@Resource.PriceUnit" width="80"></el-table-column>
                <el-table-column prop="RateDiscount" label="@Resource.DiscountRate" width="80"></el-table-column>
                <el-table-column prop="AmountDiscount" label="@Resource.Discount" width="90"></el-table-column>
                <el-table-column prop="AmountProduct" label="@Resource.ProductAmount" width="100"></el-table-column>

                <el-table-column prop="GetColorSample" label="@Resource.GetColorSample" width="110"></el-table-column>
                <el-table-column prop="CustProductName" label="@Resource.CustProductName" width="100"></el-table-column>                
                <el-table-column prop="CustColorName" label="@Resource.CustColorName" width="100"></el-table-column>                
                <el-table-column prop="CustSize" label="@Resource.CustSize" width="90"></el-table-column>                
                <el-table-column prop="PlanCompleteDate" label="@Resource.PlanCompleteDate" width="120"></el-table-column>
                <el-table-column prop="ArriveDate" label="@Resource.ArriveDate" width="100"></el-table-column>
                <el-table-column prop="FactoryShipOutDate" label="@Resource.FactoryShipOutDate" width="100"></el-table-column>
                <el-table-column prop="Remarks" label="@Resource.Remark" width="120" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="OcRemark" label="@Resource.OcRemark" width="120" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="ProductRemark" label="@Resource.ProductRemark" width="120" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="PlateRemark" label="@Resource.PlateRemark" width="120" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="InvoiceRemark" label="@Resource.InvoiceRemark" width="120" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="ArtImage" label="ArtWork" width="120" v-if="false"></el-table-column>
                <el-table-column prop="IsFree" label="@Resource.IsFree" align="center" width="80">
                    <template slot-scope="scope">
                        <el-checkbox :checked="scope.row.IsFree == 1" disabled :key="`${componentKey}-${scope.$index}`"/> 
                    </template>
                </el-table-column>
                <el-table-column prop="IsPrint" label="@Resource.IsPrint" align="center" width="80">
                    <template slot-scope="scope">
                        <el-checkbox :checked="scope.row.IsPrint == 1" disabled :key="`${componentKey}-${scope.$index}`"/>
                    </template>
                </el-table-column>

                <el-table-column width="50" align="center" fixed="right">
                    <template slot-scope="scope">
                        <el-button type="text" @@click="browseItem(scope.$index,scope.row)" size="mini">@Resource.Browse</el-button>
                    </template>
                </el-table-column>
                <el-table-column width="50" label="@Resource.Operate" align="center" fixed="right">
                    <template slot-scope="scope">
                        <el-button type="text" @@click="editItem(scope.$index,scope.row)" size="mini">@Resource.Edit</el-button>
                    </template>
                </el-table-column>
                <el-table-column width="50" fixed="right">
                    <template slot-scope="scope">
                        <el-button type="text" @@click="deleteItem(scope.$index,scope.row)" size="mini"><span style="color: red">@Resource.Delete</span></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!--分頁全功能-->
            @*<div class="block">
                    <el-pagination align="center"
                                   background
                                   @@size-change="handleSizeChange"
                                   @@current-change="handleCurrentChange"
                                   current-page="tablePage.currentPage"
                                   page-sizes="[10, 20, 30, 40]"
                                   page-size="tablePage.pageSize"
                                   layout="total, sizes, prev, pager, next, jumper"
                                   total="tablePage.totalResult">
                    </el-pagination>
                </div>*@
        </template>
        <!--/el-tab-pane-->
        <!--/-el-tabs-->

        <el-divider></el-divider>
        
        <!--BOM-->
        <template>
            <el-table :data="tableDataBom"
                      :header-cell-style="{background:'#f5f7fa',color:'#606266',height:'25px',padding:'2px'}"
                      :row-style="{height:'18px'}"
                      :cell-style="{padding:'0px'}"
                      border
                      highlight-current-row
                      stripe
                      style="font-size: 12px;width: 100%"
                      :default-sort="{prop:'PrimaryKey',order:'descending'}"
                      v-loading="isLoading"
                      element-loading-background="rgba(255, 255, 255, .5)"
                      element-loading-text="加载中，请稍后..."
                      element-loading-spinner="el-icon-loading"
                      height="120">
                <el-table-column prop="Seq" label="Seq" width="50" v-if="false"></el-table-column>
                <el-table-column prop="UpperSeq" label="UpperSeq" width="50" v-if="false"></el-table-column>
                <el-table-column prop="PrimaryKey" label="@Resource.PrimaryKey" width="90">
                    <template slot-scope="scope">
                        <el-checkbox :checked="scope.row.PrimaryKey == 1" disabled />
                    </template>
                </el-table-column>
                <el-table-column prop="ProductID" label="@Resource.ProductID" width="170"></el-table-column>
                <el-table-column prop="ProductCdesc" label="@Resource.ProductCdesc" width="250" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="Dosage" label="@Resource.Dosage" width="80"></el-table-column>
                <el-table-column prop="UnitCode" label="@Resource.UnitCode" width="80"></el-table-column>
                <el-table-column prop="Remark" label="@Resource.Remark" width="160" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="DoColor" label="@Resource.DoColor" width="150"></el-table-column>
                <el-table-column prop="ActualToHKQty" label="@Resource.ActualToHKQty" width="150"></el-table-column>
                <el-table-column prop="ActualToHKDate" label="@Resource.ActualToHKDate" width="150"></el-table-column>
            </el-table>
        </template>
        
    </template>

</div> 


@section PageSpecificJavascriptIncludes{
    <script src="~/Content/js/SalesOrder.js?v=20230629000002"></script>
    <script src="~/Content/js/common.js?v=20211109000001"></script>
    <script src="~/Content/js/BaseData.js?v=20211025000024"></script>
    <script>
        //公共用變量,須在引入SalesOrder.js前聲明賦值,否則訪問不到公共用變量的值     
        window.byAdd = "@Resource.btn_additem"
        window.byEdit = "@Resource.btn_edititem"
        window.byBrowse = "@Resource.btn_browse"
        window.btn_print = "@Resource.btn_print"
        window.btn_import = "@Resource.btn_import"
    </script>
    <script src="~/Areas/Sales/js/SalesOrder.js?v=@Guid.NewGuid().ToString()"></script>  
    
}
