<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单录入</title>
    <link rel="shortcut icon" href="https&#x3a;&#x2f;&#x2f;swapp.singlewindow.cn&#x3a;443&#x2f;sasserver&#x2f;static/favicon.ico">



    <link href="~/Content/Bootstrap-3.3.7/css/bootstrap.min.css?v=3.3.7" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/newStyle.css?v=20201029102416153">
    <style>
        .percent-100 tr1 {
            height: 30px;
        }
    </style>
</head>
<body>
    @*  @RenderSection("featured", required: false)*@
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
    @*<footer>
            <div class="copyright"> ©2015版权归跨境易电子商务有限公司所有 </div>
           <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
                </div>
            </div>
        </footer>*@
    @*        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
    <script src="~/Content/Hg/js/jquery.min.js?v=3.4.0"></script>
    <script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js?v=3.3.7"></script>
    <script src="~/Content/Hg/static/js/enter.js?v=20201029102416153"></script>
</body>
</html>
