<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本資料--@ViewBag.Title</title>
    <link rel="shortcut icon" href="https&#x3a;&#x2f;&#x2f;swapp.singlewindow.cn&#x3a;443&#x2f;sasserver&#x2f;static/favicon.ico">


    @*<link href="~/Content/bootstrap-4.0/css/bootstrap.min.css?v=4.0" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/newStyle.css?v=20201029102416153">*@
    @*<link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/CFStyle.css">*@
    <link rel="stylesheet" href="~/Content/bootstrap-4.0/css/fonts/font-awesome.css">
    <link href="~/Content/vxe-table/css/vxe-table-style.css" rel="stylesheet">

   @* @RenderSection("PageSpecificStyleSheetIncludes", required: false)*@
</head>
<body>
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
    @*  @RenderSection("featured", required: false)*@
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
    @*<footer>
            <div class="copyright"> ©2015版权归跨境易电子商务有限公司所有 </div>
           <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
                </div>
            </div>
        </footer>*@
    @*        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@

    @*<script src="~/Content/bootstrap-4.0/js/jquery.min.js"></script>
        <script src="~/Content/bootstrap-4.0/js/popper.min.js"></script>
        <script src="~/Content/bootstrap-4.0/js/bootstrap.min.js"></script>*@
    <script src="~/Content/vxe-table/js/vue.js"></script>
    <script src="~/Content/vxe-table/js/xe-utils.js"></script>
    <script src="~/Content/vxe-table/js/vxe-table.js"></script>
    @*<script src="~/Content/Hg/static/js/enter.js?v=20201029102416153"></script>*@
    @*<script type="text/javascript" src="~/Scripts/vue-resource.js"></script>*@
    <script type="text/javascript" src="~/Scripts/axios.js"></script>

    @*<script src="~/Scripts/vue.js"></script>*@
    <link rel="stylesheet" href="~/Content/ElementUI/css/element-ui.css" />
    <script src="~/Content/ElementUI/js/element-ui.js"></script>
       

    @RenderSection("PageSpecificJavascriptIncludes", required: false)
</body>
</html>
