<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
    <meta charset="utf-8" />
    <title>财务管理 @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @*      @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @*<link href="~/Content/sharestyle.css" rel="stylesheet" />*@
    @*<link href="~/Content/main.css" rel="stylesheet" />*@
    @*<link href="~/Content/BaseUtil.css" rel="stylesheet" />*@ 

    <link rel="stylesheet" type="text/css" href="~/Lib/jquery-easyui-1.5/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Lib/jquery-easyui-1.5/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="~/Lib/jquery-easyui-1.5/demo/demo.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/CFStyle.css?v=20201117102416264">
    @*<style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>*@
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
    
    
    

    @*<script type="text/javascript" src="~/Lib/My97DatePicker/WdatePicker.js"></script>*@
</head>
<body>
    @*  @RenderSection("featured", required: false)*@
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
    @*<footer>
            <div class="copyright"> ©2015版权归跨境易电子商务有限公司所有 </div>
           <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
                </div>
            </div>
        </footer>*@
    @*        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
    
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Lib/lhgdialog/lhgdialog.min.js?self=true&skin=iblue"></script>
    @*<script type="text/javascript" src="~/Lib/jquery-easyui-1.5/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/Lib/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Lib/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/Lib/jquery-easyui-1.5/easyuiDatePicker.js"></script>
    <script src="~/Content/Hg/static/js/enter.js?v=20201029102416153"></script>
    <script src="~/Content/js/jquery.json.js"></script>
    <script src="~/Content/js/transport_jquery.js"></script>
    <script src="~/Content/js/vncf_common.js?v=202104101446001"></script>
    <script src="~/Content/js/myValidator.js"></script>
    @*<script src="~/Content/js/utils.js"></script>*@   
    @*<script src="~/Content/js/transport_jquery.js"></script>*@

    <script src="~/Content/vxe-table/js/vue.js"></script>
    <link rel="stylesheet" href="~/Content/ElementUI/css/element-ui.css" />
    <script src="~/Content/ElementUI/js/element-ui.js"></script>
  
    @*2021-12-13*@
    @*<!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vxe-table/lib/style.css">
    <!-- 引入脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table"></script>*@

    <link rel="stylesheet" href="~/Content/Static/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/vxe-table/css/vxe-table-style.css" >
    <script src="~/Content/vxe-table/js/xe-utils.js"></script>
    <script src="~/Content/vxe-table/js/vxe-table.js"></script>


    <script type="text/javascript" src="~/Scripts/axios.js"></script>

    @RenderSection("PageSpecificJavascriptIncludes", required: false)
    
</body>
</html>
