@using Resources;
@{
    ViewBag.Title = "生產記錄";
}

@section PageSpecificStyleSheetIncludes{
    @*<link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/CFStyle.css?v=20201117102416261">*@
    <style type="text/css">
        .div-cont {
            float: left;
            width: 80%;
            border: 0px solid #F00;
        }

        .divcss5-cent {
            margin: 0 auto;
            width: 80%;
            height: 80%;
            border: 1px solid #F00;
        }

        .div-left {
            float: left;
            width: 80%;
            background-color: aqua;
        }

        .div-right {
            float: right;
            width: 20%;
            /*background-color:yellow;*/
        }

        .div-none {
            float: none;
            width: 20%;
            /*background-color:yellow;*/
        }

        .img-plan {
            border: thick;
            width: 80%;
        }
    </style>
}

    


<div id="app" style="float: left;width:100%">

    <div style="float: left;width:100%">
        <vxe-toolbar perfect size="medium" style="height:35px;">
            <template #buttons>
                <vxe-button type="text" icon="fa fa-plus" content="@Resource.btn_new" @@click="addNew()"></vxe-button>
                <vxe-button type="text" icon="fa fa-save" content="@Resource.btn_save" @@click="saveEvent()"></vxe-button>
                <vxe-button type="text" icon="fa fa-trash-o" content="@Resource.btn_del"></vxe-button>
                <vxe-button type="text" icon="fa fa-search" content="@Resource.btn_search" @@click="searchData(formData.PrdDep,formData.PrdDate)"></vxe-button>
            </template>
        </vxe-toolbar>
    </div>
    
    <div style="float: left;width:100%">
        <p style="height:25px;margin:0px;">
            <vxe-radio-group v-model="selectTab" style="height:20px;margin:0px;">
                <vxe-radio-button label="tab1" content="@Resource.ProductionMasterTable"></vxe-radio-button>@*生產錄入*@
                <vxe-radio-button label="tab2" content="@Resource.ProductionDetail"></vxe-radio-button>@*生產明細表*@
            </vxe-radio-group>
        </p>

        <div class="div-cont" style="margin:15px 0px;">
            <div class="div-left" style="margin:0px 0px;">
                <vxe-form :data="formData" @@submit="submitSearch" size="mini">
                    <vxe-form-item title="@Resource.BarCode" field="BarCode" :item-render="{}" span="12">
                        <template #default="{ data }">
                            <vxe-input v-model="data.BarCode" placeholder="Please input BarCode" @@keyup.enter.native="showMsg()"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.ProductionDepartment" field="PrdDep" :item-render="{}" span="6">
                        <template #default="{ data }">
                            <vxe-select v-model="data.PrdDep" :options="wipList"></vxe-select>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="@Resource.ProductionDate" field="PrdDate" :item-render="{}" span="6">
                        <template #default="{ data }">
                            <vxe-input v-model="data.PrdDate" type="date"></vxe-input>
                        </template>
                    </vxe-form-item>
                </vxe-form>
            </div>
        </div>
        @*<div style="float:left;width:100%;height:30px;margin:0px 0px;background-color:yellow;">
            sdafsdafd
        </div>*@

        <div v-show="selectTab === 'tab1'" style="margin:0px 0px;">

            <div class="div-cont" style="margin:15px 0px;">

                <div class="div-left">

                    <vxe-form :data="formData" @@submit="submitSearch" size="mini">
                        <vxe-form-item title="@Resource.ProductMo" field="ProductMo" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.ProductMo" @@blur="productMoBlurEvent()"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.ProductID" field="GoodsID" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-select v-model="data.GoodsID" :options="goodsList" @@change="getGoodsByID(data.GoodsID)"></vxe-select>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.ProductCdesc" field="GoodsCname" :item-render="{}" span="12">
                            <template #default="{ data }">
                                <vxe-input v-model="data.GoodsCname" disabled></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.ProductType" field="WorkType" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-select v-model="data.WorkType" :options="workTypeList"></vxe-select>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.MachineID" field="MachineID" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.MachineID"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.EmployeeID" field="WorkerID" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.WorkerID"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.ProductionQty" field="PrdQty" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.PrdQty" type="number"></vxe-input>
                            </template>
                        </vxe-form-item>
                        
                        <vxe-form-item title="@Resource.StartTime" field="StartTime" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.StartTime" type="time" clearable @@blur="StartTimeBlurEvent()"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.EndTime" field="EndTime" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.EndTime" type="time" clearable @@blur="EndTimeBlurEvent()" @@click="EndTimeClickEvent()"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.NormalHours" field="WorkHours" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.WorkHours" type="number"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.OTHours" field="OtHours" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.OtHours" type="number"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.RowQty" field="LineNum" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.LineNum" type="number"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.HourQty" field="HourRunNum" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.HourRunNum" type="number"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.HourStandardQty" field="HourStdQty" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.HourStdQty" type="number"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.StandardCoding" field="WorkCode" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.WorkCode"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.OriginalQty" field="StartRunQty" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.StartRunQty" type="number" @@blur="countRunQty()"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.ClosingQty" field="EndRunQty" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.EndRunQty" type="number" @@blur="countRunQty()"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.ActuallyQty" field="RunQty" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.RunQty" type="number"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.DifficultLevel" field="DifficultyLevel" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.DifficultyLevel"></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.CreateBy" field="CreateUser" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.CreateUser" disabled></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.CreateAt" field="CreateTime" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.CreateTime" disabled></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.UpdateBy" field="AmendUser" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.AmendUser" disabled></vxe-input>
                            </template>
                        </vxe-form-item>
                        <vxe-form-item title="@Resource.UpdateAt" field="AmendTime" :item-render="{}" span="6">
                            <template #default="{ data }">
                                <vxe-input v-model="data.AmendTime" disabled></vxe-input>
                            </template>
                        </vxe-form-item>

                    </vxe-form>

                </div>
                <div class="div-right">
                    <p>
                        @*<img id="ArtImage" class="plan-img" src="~/Images/photo.png" />*@
                        <img :src="this.formData.ArtImageUrl" alt="..." class="img-plan">
                    </p>
                </div>

            </div>
        </div>

        <div v-show="selectTab === 'tab2'" style="margin:15px 0px;">
            <div style="float: left;width:100%">
                <vxe-table border
                           show-overflow
                           height="350"
                           size="small"
                           highlight-current-row
                           ref="xTable"
                           :loading="loading3"
                           :sync-resize="selectTab"
                           :checkbox-config="{highlight: true, range: true}"
                           :data="tableDetails"
                           :keyboard-config="{isArrow: true}"
                           :edit-config="{trigger: 'click', mode: 'cell', icon: 'fa fa-pencil', showStatus: true}"
                           @@cell-click="cellClickEvent"
                           >
                    <vxe-table-column type="seq" title="@Resource.SeqID" width="60"></vxe-table-column>
                    <vxe-table-column field="GoodsID" title="@Resource.ProductID" width="200" :edit-render="{name: '$input', events: {blur: showMsg}}"></vxe-table-column>
                    <vxe-table-column field="GoodsCname" title="@Resource.ProductCdesc" width="260"></vxe-table-column>
                    <vxe-table-column field="PrdDep" title="@Resource.ProductionDepartment" width="180"></vxe-table-column>
                    <vxe-table-column field="PrdDate" title="@Resource.ProductionDate" width="160"></vxe-table-column>
                    <vxe-table-column field="PrdQty" title="@Resource.ProductionQty" width="160"></vxe-table-column>
                    <vxe-table-column field="PrdWeg" title="@Resource.ProductionWeg" width="160"></vxe-table-column>
                    <vxe-table-column field="StartTime" title="@Resource.StartTime" width="160"></vxe-table-column>
                    <vxe-table-column field="EndTime" title="@Resource.EndTime" width="160"></vxe-table-column>
                    <vxe-table-column field="ID" title="@Resource.RecordID" width="80"></vxe-table-column>
                </vxe-table>


            </div>
        </div>

        @*<div v-show="selectTab === 'tab3'">
                <vxe-table border
                           show-overflow
                           height="400"
                           :sync-resize="selectTab"
                           :data="tablePlanDetails">
                    <vxe-table-column type="checkbox" width="60"></vxe-table-column>
                    <vxe-table-column field="nickname" title="nickname"></vxe-table-column>
                    <vxe-table-column field="sex" title="Sex"></vxe-table-column>
                    <vxe-table-column field="age" title="Age"></vxe-table-column>
                    <vxe-table-column field="date12" title="Date"></vxe-table-column>
                    <vxe-table-column field="region" title="Region"></vxe-table-column>
                    <vxe-table-column field="rate" title="Rate"></vxe-table-column>
                </vxe-table>
            </div>*@
    </div>
</div>
@section PageSpecificJavascriptIncludes{
    <script src="/Content/js/common.js"></script>
    <script type="text/javascript">

                var vm = new Vue({
                    el: "#app",
                    data: {
                        selectTab: 'tab1',
                        edit_mode: 0,
                        showEdit: false,
                        selectRow: null,
                        tableDetails: [],
                        searchProductMo: '',
                        loading3: false,
                        formData: {},
                        prevForm: {},
                        editFormChanged: false, // 是否修改标识
                        wipList: [],
                        goodsList:[],
                        workTypeList: [],
                    },
                    created: function () {
                        this.getWipID();
                        this.getWorkType();
                        //this.findList3();
                    },
                    methods: {
                        showMsg() {
                            //if (this.name.length >= 9)
                            alert("ok");
                            //var vl = value;
                        },
                        addNew() {
                            this.edit_mode = 1;
                            nowDateTime = COMM.getCurrentDateTime();
                            this.formData = {
                                ID:0,
                                EditFlag: 1,
                                BarCode: '',
                                PrdDep: '',
                                ProductMo: '',
                                PrdDate: COMM.getCurrentDate(),
                                GoodsID: '',
                                GoodsCname:'',
                                PrdQty: 0,
                                PrdWeg:0.00,
                                StartRunQty:0,
                                EndRunQty:0,
                                RunQty: 0,
                                MachineID: '',
                                WorkType: '',
                                WorkerID: '',
                                PrdClass: '',
                                PrdGroup: '',
                                StartTime: COMM.getCurrentTime(),
                                EndTime: '',
                                WorkHours: 0,
                                OtHours: 0,
                                LineNum: 0,
                                HourRunNum: 0,
                                HourStdQty: 0,
                                RequestTime: '',
                                PerKgPcs: 0,
                                QcFlag: '',
                                MatGoodsID: '',
                                MatGoodsLot: '',
                                NextDepID: '',
                                DifficultyLevel: '',
                                WorkCode: '',
                                JobType:'',
                                CreateUser: '',
                                CreateTime: nowDateTime,
                                AmendUser: '',
                                AmendTime: nowDateTime,
                                ArtImageUrl: '/Images/photo.png',
                            };
                            //深度複製一個對象，用來判斷數據是否有修改
                            this.prevForm = JSON.parse(JSON.stringify(this.formData));
                        },
                        productMoBlurEvent() {
                            if (this.formData.ProductMo == "")
                                return;
                            //if (this.edit_mode == 1)
                            this.getGoodsFromPlan();
                        },
                        getGoodsFromPlan() {

                            setTimeout(() => {
                                var _self = this;
                                axios.get("GetGoodsFromPlan", { params: { ProductMo: this.formData.ProductMo } }).then(
                                (response) => {
                                    this.goodsList = response.data;
                                },
                                (response) => {
                                    alert(response.status);
                                });
                            }, 500);

                        },
                        searchData(_PrdDep,_PrdDate) {
                            this.edit_mode = 0,
                            this.loading3 = true;
                            setTimeout(() => {
                                var _self = this;
                                axios.get("SearchData", { params: { PrdDep: _PrdDep, PrdDate: _PrdDate } }).then(
                                (response) => {
                                    this.tableDetails = response.data;
                                },
                                (response) => {
                                    alert(response.status);
                                });
                                this.loading3 = false;
                            }, 500);

                        },
                        StartTimeBlurEvent(){
                            this.countProductTimes();
                        },
                        EndTimeBlurEvent(){
                            this.countProductTimes();
                        },
                        EndTimeClickEvent(){
                            var te=COMM.getCurrentTime();
                            if(this.formData.EndTime=='')
                                this.formData.EndTime=COMM.getCurrentTime();
                        },
                        countProductTimes(){
                            if(this.formData.StartTime!=''&&this.formData.EndTime!='')
                            {
                                var startTime=this.formData.StartTime;
                                var endTime=this.formData.EndTime;
                                var hours= Number(endTime)+Number(startTime);
                                this.formData.WorkHours=0;
                            }
                        },
                        searchDataByID(_ID) {
                            var _self = this;
                            //axios.get("GetGoodsDetails", { params: { goods_id: _id, } })//也可以將參數寫在這裡
                            axios.get("SearchDataByID", { params: { ID: _ID } }).then(
                            (response) => {
                                this.formData = {
                                    EditFlag:0,
                                    ID:response.data[0].ID,
                                    ProductMo: response.data[0].ProductMo,
                                    PrdDep: response.data[0].PrdDep,
                                    GoodsID:response.data[0].GoodsID,
                                    GoodsCname:response.data[0].GoodsCname,
                                    PrdDate: response.data[0].PrdDate,
                                    StartTime: response.data[0].StartTime,
                                    EndTime: response.data[0].EndTime,
                                    PrdQty: response.data[0].PrdQty,
                                    PrdWeg: response.data[0].PrdWeg,
                                    StartRunQty:response.data[0].StartRunQty,
                                    EndRunQty:response.data[0].EndRunQty,
                                    RunQty: response.data[0].RunQty,
                                    MachineID: response.data[0].MachineID,
                                    WorkType: response.data[0].WorkType,
                                    WorkerID: response.data[0].WorkerID,
                                    PrdClass: response.data[0].PrdClass,
                                    PrdGroup: response.data[0].PrdGroup,
                                    StartTime: response.data[0].StartTime,
                                    EndTime: response.data[0].EndTime,
                                    WorkHours: response.data[0].WorkHours,
                                    OtHours: response.data[0].OtHours,
                                    LineNum: response.data[0].LineNum,
                                    HourRunNum: response.data[0].HourRunNum,
                                    HourStdQty: response.data[0].HourStdQty,
                                    PerKgPcs: response.data[0].PerKgPcs,
                                    QcFlag: response.data[0].QcFlag,
                                    MatGoodsID: response.data[0].MatGoodsID,
                                    MatGoodsLot: response.data[0].MatGoodsLot,
                                    NextDepID: response.data[0].NextDepID,
                                    DifficultyLevel: response.data[0].DifficultyLevel,
                                    WorkCode: response.data[0].WorkCode,
                                    JobType:response.data[0].JobType,
                                    CreateUser: response.data[0].CreateUser,
                                    CreateTime: response.data[0].CreateTime,
                                    AmendUser: response.data[0].AmendUser,
                                    AmendTime: response.data[0].AmendTime,
                                }
                                //this.getGoodsFromPlan();
                                //深度複製一個對象，用來判斷數據是否有修改
                                this.prevForm = JSON.parse(JSON.stringify(this.formData));
                                //var ImagePath = "/art/artwork/" + "AAAA/A888020.bmp";
                                //this.ArtImageUrl = ImagePath;
                            },
                            (response) => {
                                alert(response.status);
                            }
                        ).catch(function (response) {
                            alert(response);
                        });
                        },
                submitSearch() {

                        },
                        getWipID() {
                            var _self = this;///Base/BaseData///, { params: { ProductMo: this.editPlanDetails.GoodsID } }
                            axios.get("GetWipID").then(
                                (response) => {
                                    this.wipList = response.data;
                                }
                            );
                        },
                        getWorkType() {
                            axios.get("GetWorkType").then(
                                (response) => {
                                    this.workTypeList = response.data;
                                })
                        },
                        updateEvent() {
                            //this.showEdit = false
                            //this.$XModal.message({ content: '保存成功', status: 'success' })
                            //Object.assign(this.selectRow, this.tablePlanDetails)
                            //return;
                            if (this.selectRow) {
                                this.showEdit = false
                                //this.$XModal.message({ content: '保存成功', status: 'success' })
                                for (let i in this.editPlanDetails) {
                                    if (this.editPlanDetails[i] != this.prevEditPlanDetails[i]) {
                                        this.editPlanDetails.EditFlag = 1;
                                        break;
                                    }
                                }
                                Object.assign(this.selectRow, this.editPlanDetails)
                            } else {
                                this.editPlanDetails.EditFlag = 1;
                                this.tablePlanDetails.push(this.editPlanDetails);
                                //this.editPlanDetails = {};
                                this.editPlanDetails = {
                                    EditFlag: 0,
                                    ProductMo: this.formData.ProductMo,
                                    Ver: this.formData.Ver,
                                    GoodsID: '',
                                    GoodsCname: '',
                                    RequestQty: '',
                                    RequestDate: '',
                                    WipID: '',
                                    NextWipID: ''
                                };
                            }
                        },
                        getGoodsByID(_GoodsID) {
                            axios.get("GetGoodsByID", { params: { GoodsID: _GoodsID } }).then(
                            (response) => {
                                this.formData.GoodsCname = response.data.goods_cname
                                this.formData.ArtImageUrl = response.data.ArtImageUrl
                            }
                            )
                        },
                        countRunQty() {
                            if (this.edit_mode == 1) {
                                this.formData.RunQty = this.formData.EndRunQty - this.formData.StartRunQty;
                                if (this.formData.RunQty < 0)
                                    this.formData.RunQty = 0;
                            }
                        },

                        saveEvent() {
                            this.validData();
                            if(this.formData.EditFlag==0)
                            {
                                alert("沒有要儲存的記錄!");
                                return;
                            }
                            var _self = this;
                            var objProc = _self.formData;
                            axios.post("SaveProc", { objProc }).then(
                            (response) => {
                                this.SavePlan = {
                                    ProductMo: "",
                            };
                                alert("更新成功!");
                            },
                            (response) => {
                                alert(response.status);
                            }
                        ).catch(function (response) {
                            alert(response);
                        });
                        },
                        validData() {
                            for (let i in this.formData) {
                                if (this.formData[i] != this.prevForm[i]) {
                                    this.formData.EditFlag = 1;
                                    break;
                                }
                            }
                        },
                        cellClickEvent({row,column}) {
                            //if(column.property=="PrdDep")
                            //{
                            //    alert("ok");
                            //}
                            this.searchDataByID(row.ID);
                        },
                    },
                    
                    watch: {
                        //// watch监听 判断是否修改
                        //formData: {
                        //    handler (val, oldVal) {
                        //        for (let i in this.formData) {
                        //            if (val[i] != this.prevForm[i]) {
                        //                this.editFormChanged = true;
                        //                break;
                        //            } else {
                        //                this.editFormChanged = false;
                        //            }
                        //        }
                        //        console.log(this.editFormChanged);
                        //    },
                        //    deep: true
                        //}

                    }
                    
                })
    </script>
}
