@using VNCF.PSS.Web.Areas.Sales.DAL
@using VNCF.PSS.Web.Areas.Sales.Models;
@model OrderHead
@{
    ViewBag.Title = "Index";
    var WebFromElement = Factory.GenWebFormElement().AdminCreateOrderIndex("Sales.Order.Index");
}

<script type="text/javascript">
        $(function () {
            //initList();
            SearchOcDetails();
            InitSearch();//查询
            AddList();
            AddHead();
            //添加信息
            ////$("#btnAddList").click(AddList);
            ////$('#btnAddList').click(function () {
            ////    AddList();
            ////                });
            //AddList();
            UpdateList();//修改
            $('#txtClassIdSerach').combobox({
                url: '/Home/GetClass?r=' + Math.random(),//数据接收URL地址
                method: 'post',
                //url: '/combobox_data1.json',
                panelHeight: 'auto',
                valueField: 'Id',//主键值
                textField: 'Realname'
            });
            $("btnNew").click(NewDocument);
            //$(window).resize(function () {
            //    $('#tbDetails').datagrid('resize', {               //根据自身情况更改
            //        width: $(window).width() - 40,    //根据自身情况更改
            //        height: $(window).height() - 200  //根据自身情况更改
            //    }).datagrid('resize', {
            //        width: $(window).width() - 40,      //根据自身情况更改
            //        height: $(window).height() - 200   //根据自身情况更改
            //    });
            //});

        });

        function initList(queryData) {
            $('#tbDetails').datagrid({
                url: '/Order/List',//'/Home/GetStudent?r=' + Math.random(),   //指向后台的Action来获取当前用户的信息的Json格式的数据
                iconCls: 'icon-view',//图标
                //fit: true,//自动适屏功能
                //fit: true,
                width: function () { return document.body.clientWidth * 2 },//自动宽度
                nowrap: true,
                //collapsible: true,
                autoRowHeight: false,//自动行高
                striped: true,
                collapsible: true,
                //sortName: 'Id',//排序列名为ID
                sortOrder: 'asc',//排序为将序
                remoteSort: false,
                idField: 'Seq',//主键值
                rownumbers: true,//显示行号
                multiSort: true,//启用排序 sortable: true //启用排序列
                pagination: true,
                pageSize: 10,
                pageList: [10, 20, 30, 40, 50],
                queryParams: queryData, //搜索条件查询
                columns: [[
               { field: "Seq", title: "序號", width: 30 },
               { field: "Status", title: "狀態", width: 30 },
               { field: "ProductMo", title: "@WebFromElement.OcID", width: 100 },
               { field: "ProductID", title: "產品編號", width: 160 },
               { field: "ProductDescription", title: "產品描述", width: 200 },
               { field: "OrderQty", title: "訂單數量", width: 80 },
               { field: "OrderUnit", title: "數量單位", width: 60 },
               { field: "Price", title: "單價", width: 80 },
               { field: "PriceUnit", title: "單價單位", width: 80 },
               { field: "Amount", title: "金額", width: 80 },
               { field: "DiscountRate", title: "折扣率", width: 80 },
               { field: "Discount", title: "折扣額", width: 80 },
               { field: "AmountAfterDiscount", title: "折扣後金額", width: 80 }
                ]],
                toolbar: [{
                    id: 'btnAdd',
                    text: '新增',
                    iconCls: 'icon-add',
                    handler: function () {
                        $('#btnAdd').linkbutton('enable');
                        $('#btnAdd').click(function () {
                            $('#AddDialog').dialog('open').dialog('setTitle', '新增項目');
                            @*showMessageDialog("@Url.Action("Create")","新增產品",800,600,true);*@
                        });
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-cut',
                    handler: function () {
                        var RowUpdateByID = $('#tbDetails').datagrid('getSelections');
                        if (RowUpdateByID.length == 1) {
                            //实现绑定数据显示
                            BindUpdateList();
                            $("#UpdateDialog").dialog('open').dialog('setTitle', '修改信息');
                        }
                        else {
                            $.messager.alert("友情提示！", "每次只能修改一条，你已经选择了<font color='red'  size='6'>" + RowUpdateByID.length + "</font>条");
                        }
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        var RowDeleteByID = $('#tbDetails').datagrid("getSelections");
                        if (RowDeleteByID.length == 1) {
                            $.messager.confirm("删除信息", "您确认删除该条信息吗？", function (deleteClient) {
                                if (deleteClient) {
                                    $.post("/Order/DeleteList?r=" + Math.random(), { OcID: $("#OcID").val(), Seq: RowDeleteByID[0].Seq }, function (data) {
                                        if (data == "OK") {
                                            $.messager.alert("系统提示！", "删除成功");
                                            //这里要将上次删除的Id清空，否则下次再删除的时候会报错
                                            RowDeleteByID.length = "";
                                            //$("#tbDetails").datagrid('reload') //重新刷新整个页面
                                            SearchOcDetails();
                                        }
                                        else {
                                            $.messager.alert("系统提示！", "删除失败");
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert("友情提示！", "每次只能删除一行，你已经选择了<font color='red' size='6'>" + RowDeleteByID.length + "</font>行");
                        }
                    }
                }, '-', {
                    id: 'btnreload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        $("#tbDetails").datagrid("reload");
                    }
                }]

            });
        }
        function NewDocument() {
            $.messager.alert("系统提示！", "添加成功");
        }
        //初始化搜索框
        function InitSearch() {
            //按照条件进行查询，首先我们得到数据
            $("#btnSerach").click(function () {
                //得到用户输入的参数
                SearchOcHead();
                SearchOcDetails();
            });
        }
        function SearchOcDetails() {
            var queryData = {
                OcID: $("#OcID").val(),
                Ver: $("#Ver").val()
                //ClassId: $("#txtClassIdSerach").combobox("getValue")
            };
            //将值传递给initTable
            initList(queryData);
            return false;
        }
        function SearchOcHead() {
            //Ajax异步实现加载
            $.ajax({
                url: "/Order/GetOcHead?OcID=" + $("#OcID").val(),
                ////data: postData,
                ////type: "post",
                //success: function (data) {
                //    debugger;
                //    if (data == "OK") {
                //        $.messager.alert("系统提示！", "添加成功");
                //        //$('#AddDialog').dialog('close');
                //        //$("#tbDetails").datagrid("reload");
                //        $("#addForm").form("clear")
                //        SearchOcDetails();
                //    }
                //    else {
                //        $.messager.alert("系统提示！", "添加失败");
                //    }
                //}
                error: ErryFunction, //错误执行方法
                success: FillOcHead
            })
        }
        function FillOcHead(data) {
            //debugger;
            for (var item in data) {
                //debugger;
                var rows = data[item];//key所对应的value
                //var val = jValue[0]["ProductMo"];
                //如果返回的data是列表的形式：List<>的就要用如下格式獲取值
                //$("#Ver").textbox('setValue', rows[0]["Ver"]);
                //如果返回的是model格式的，就按如下格式獲取值：
                $("#OcID").textbox('setValue', rows["OcID"]);
                $("#Ver").textbox('setValue', rows["Ver"]);
                $("#OrderDate").textbox('setValue', rows["OrderDate"]);
                $("#CustomerID").textbox('setValue', rows["CustomerID"]);
                //}
            }

        }
        function ErryFunction(data) { $.messager.alert("系统提示！", "沒有記錄!"); }
        function AddList() {
            $("#btnAddList").click(function () {
                //在前台对用户输入的信息做判断，不符合要求时“添加用户”就不能提交给后台
                var valid = $("#addForm").form('validate');
                if (valid == false) {
                    return false;
                }
                var postData = $("#addForm").serializeArray();
                //Ajax异步实现加载
                $.ajax({
                    url: "/Order/AddList?OcID=" + $("#OcID").val(),
                    data: postData,
                    type: "post",
                    success: function (data) {
                        if (data == "OK") {
                            $.messager.alert("系统提示！", "添加成功");
                            //$('#AddDialog').dialog('close');
                            //$("#tbDetails").datagrid("reload");
                            $("#addForm").form("clear")
                            SearchOcDetails();
                        }
                        else {
                            $.messager.alert("系统提示！", "添加失败");
                        }
                    }
                })
            });
        };

        function AddHead() {
            $("#btnAddHead").click(function () {
                //在前台对用户输入的信息做判断，不符合要求时“添加用户”就不能提交给后台
                var valid = $("#addFormHead").form('validate');
                if (valid == false) {
                    return false;
                }

                var postData = $("#addFormHead").serializeArray();
                //Ajax异步实现加载
                $.ajax({
                    url: "/Order/AddHead?r=" + Math.random(),
                    data: postData,
                    type: "post",
                    success: function (data) {
                        if (data == "OK") {
                            $.messager.alert("系统提示！", "添加成功");
                            //$('#AddDialog').dialog('close');
                            //$("#tbDetails").datagrid("reload");
                            //$("#addFormHead").form("clear")
                            SearchOcDetails();
                        }
                        else {
                            $.messager.alert("系统提示！", "添加失败");
                        }
                    }
                })
            });
        };


        //异步实现修改信息,btnUpdate
        function UpdateList() {
            var RowUpdateByID = $('#tbDetails').datagrid('getSelections');
            //首先执行加载绑定数据显示在页面上面
            $("#btnUpdate").click(function () {
                //在前台验证用户提交的信息是否符合要求，若不合要求不提交
                var valid = $("#updateForm").form('validate');
                if (valid == false) {
                    return false;
                }
                var postUpdate = $("#updateForm").serializeArray();//构造参数发送给后台
                //实现异步修改数据
                $.post("/Home/Edit?r=" + Math.random(), postUpdate, function (data) {
                    if (data == "OK") {
                        $.messager.alert("系统提示！", "修改成功");
                        $("#UpdateDialog").dialog('close');
                        $("#tbDetails").datagrid("reload");
                    }
                    else {
                        $.messager.alert("系统提示！", "修改失败，请您检查");
                    }
                });
            });
        };


        //绑定修改Div中的信息控件
        function BindUpdateList() {
            var RowEditById = $("#tbDetails").datagrid('getSelections')[0];
            $("#txtIdUpdate").val(RowEditById.Id);
            $("#txtID").val(RowEditById.Id);
            $("#txtUPUserName").val(RowEditById.UserName);
            $("#txtUPRealName").val(RowEditById.RealName);
            $("#txtUPMobile").val(RowEditById.Mobile);
        }

        function showMessageDialog(url, title, width, height, shadow) {

            var content = '<iframe src="' + url + '" width="100%" height="99%" frameborder="0" scrolling="no"></iframe>';
            //content += '<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" style="width:80px" onclick="javascript:$(' + '\'#msgwindow\'' + ').dialog(' + '\'close\'' + ')">' + '关闭' + '</a>';
            var boarddiv = '<div id="msgwindow" title="' + title + '"></div>'//style="overflow:hidden;"可以去掉滚动条
            $(document.body).append(boarddiv);
            var win = $('#msgwindow').dialog({
                content: content,
                width: width,
                height: height,
                modal: shadow,
                title: title,
                onClose: function () {
                    //$(this).dialog('destroy');//后面可以关闭后的事件
                    //document.getElementById('btnSerach').click();
                }
            });
            win.dialog('open');
        }
        function closeWindow() {
            //window.opener = null;
            ////window.open(' ', '_self', ' ');
            //window.open('', '_self');
            //window.close();

            $('#msgwindow').dialog('close');
            //$('msgwindow').dialog('close');
        }

</script>

<div class="areabx clear" style="margin-bottom:0px;padding-bottom:0px;">


    @using (Html.BeginForm("EditHead", null, FormMethod.Post, new { id = "addFormHead", @clase = "form-inline", @role = "form" }))
    {
        <div data-options="region:'center'">
            <div class="easyui-layout" data-options="fit:true">
                <div class="botbtbx pdb0">
                    @*<input type="button" value="添加部門" class="easyui-linkbutton" iconcls="icon-add" onclick="showPublishWin()" />
                        <input type="button" value="查询" class="easyui-linkbutton" iconcls="icon-search" onclick="reloadList();">*@
                    <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnNew">新單</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach1" onclick="showMessageDialog('/Sales/Order/Find','查找',800,560)">查询</a>
                    <button type="submit" id="submit" class="easyui-linkbutton" iconcls="icon-add">提交</button>
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddHead" iconcls="icon-ok">确定</a>
                </div>
            </div>
        </div>
        <ul class="formod mgt10">
            <li><span>@WebFromElement.OcID：</span>@Html.TextBoxFor(m => m.OcID, new { @class = "easyui-textbox", @data_options = "required:true,validType:'length[1,20]'" })</li>
            <li><span>@WebFromElement.Ver：</span>@Html.TextBoxFor(m => m.Ver, "", new { @class = "easyui-textbox", @data_options = "required:true,validType:'length[1,20]'" })</li>
            <li><span>@WebFromElement.OrderDate：</span>@Html.TextBoxFor(m => m.OrderDate, "", new { @class = "easyui-datebox-expand", @data_options = "required:true,validType:'length[1,10]'" })</li>
            <li><span>狀態：</span>@Html.TextBox("State", "", new { @class = "easyui-textbox" })</li>
            <li><span>訂單類型：</span>@Html.TextBox("OrderType", "", new { @class = "easyui-textbox" })</li>
            <li><span>接單日期：</span>@Html.TextBox("ReceivedDate", "", new { @class = "easyui-datebox-expand" })</li>
            <li><span>洋行編號：</span>@Html.TextBox("ForeignFirm", "", new { @class = "easyui-textbox" })</li>
            <li><span>區域：</span>@Html.TextBox("Area", "", new { @class = "easyui-textbox" })</li>
            <li><span>@WebFromElement.CustomerID：</span>@Html.TextBoxFor(m => m.CustomerID, "", new { @class = "easyui-textbox", @data_options = "required:true,validType:'length[1,20]'" })</li>
            <li><span>營業員：</span>@Html.TextBox("SallerID", "", new { @class = "easyui-combobox" })</li>
            <li><span>季度：</span>@Html.TextBox("Season", "", new { @class = "easyui-combobox" })</li>
            <li><span>聯繫人：</span>@Html.TextBox("Contacts", "", new { @class = "easyui-textbox" })</li>
            <li><span>聯繫人電話：</span>@Html.TextBox("ContactsTel", "", new { @class = "easyui-textbox" })</li>
            <li><span>傳真：</span>@Html.TextBox("ContactsFax", "", new { @class = "easyui-textbox" })</li>
            <li><span>郵件：</span>@Html.TextBox("ContactsEmail", "", new { @class = "easyui-textbox" })</li>
            <li><span>跟單員：</span>@Html.TextBox("Merchandisers", "", new { @class = "easyui-combobox" })</li>
            <li><span>跟單員電話：</span>@Html.TextBox("MerchandisersTel", "", new { @class = "easyui-textbox" })</li>
            <li><span>跟單員郵件：</span>@Html.TextBox("MerchandisersEmail", "", new { @class = "easyui-textbox" })</li>
            <li><span>貨幣代號：</span>@Html.TextBox("CurrencyID", "", new { @class = "easyui-combobox" })</li>
            <li><span>比率：</span>@Html.TextBox("CurrencyRate", "", new { @class = "easyui-combobox" })</li>
            <li><span>發貨港口：</span>@Html.TextBox("DeliveredPort", "", new { @class = "easyui-combobox" })</li>
            <li><span>目的港口：</span>@Html.TextBox("DestinationPort", "", new { @class = "easyui-combobox" })</li>
            <li><span>客戶PO：</span>@Html.TextBox("PoNo", "", new { @class = "easyui-textbox" })</li>
            <li><span>付款方式：</span>@Html.TextBox("PaymentType", "", new { @class = "easyui-combobox" })</li>
            <li><span>價格條件：</span>@Html.TextBox("PriceType", "", new { @class = "easyui-combobox" })</li>
            <li><span>裝運方式：</span>@Html.TextBox("Transport", "", new { @class = "easyui-combobox" })</li>
            <li><span>折扣%：</span>@Html.TextBox("DiscountRate", "", new { @class = "easyui-textbox" })</li>
            <li><span>折扣額：</span>@Html.TextBox("Discount", "", new { @class = "easyui-textbox" })</li>
            <li><span>稅款編號：</span>@Html.TextBox("TaxNo", "", new { @class = "easyui-combobox" })</li>
            <li><span>稅款金額：</span>@Html.TextBox("Tax", "", new { @class = "easyui-textbox" })</li>
            <li><span>貨品金額：</span>@Html.TextBox("ProductAmount", "", new { @class = "easyui-textbox" })</li>
            <li><span>總金額：</span>@Html.TextBox("TotalAmount", "", new { @class = "easyui-textbox" })</li>
            <li><span>銀行賬號：</span>@Html.TextBox("BankAccount", "", new { @class = "easyui-combobox" })</li>
        </ul>
    }
    <div class="areabx_divider"></div>
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true" style="background: #ccc;">
            <table id="tbDetails" class="easyui-datagrid" title=@WebFromElement.OcID style="width:600px;height:350px"
                   data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'"></table>

        </div>
    </div>
    @*<a class="btn blue" title='添加產品' href="@Url.Action("Create")"><i class="icon-plus icon-white"></i> 添加產品</a>*@
</div>

<!--设置添加的弹出层-->
<div id="AddDialog" class="easyui-dialog" style="width: 300px; height:435px; padding: 10px 20px;" closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add',buttons: '#dlg-buttons'">
    <form id="addForm" method="post" novalidate="novalidate">
        <fieldset>
            <legend>添加產品欄</legend>
            <table id="tblAdd">
                <tr>
                    <td>
                        <label for="lblProductMo">制單編號：</label>
                    </td>
                    <td>
                        <input class="easyui-textbox" type="text" id="ProductMo" name="ProductMo" data-options="required:true,validType:'length[1,200]'" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lblProductID">產品編號：</label>
                    </td>
                    <td>
                        <input class="easyui-validatebox" type="text" id="ProductID" name="ProductID" data-options="required:true,validType:'length[1,200]'" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lblOrderQty">訂單數量：</label>
                    </td>
                    <td>
                        <input class="easyui-validatebox" type="text" id="OrderQty" name="OrderQty" data-options="required:true,validType:'length[1,200]'" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lblOrderUnit">數量單位：</label>
                    </td>
                    <td>
                        <input class="easyui-validatebox" type="text" id="OrderUnit" name="OrderUnit" data-options="required:true,validType:'length[1,200]'" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lblPrice">單價：</label>
                    </td>
                    <td>
                        <input class="easyui-validatebox" type="text" id="Price" name="Price" data-options="required:true,validType:'length[1,200]'" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lblPriceUnit">單價單位：</label>
                    </td>
                    <td>
                        <input class="easyui-combobox" id="PriceUnit" name="PriceUnit" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="txtRoleId">选择角色：</label>
                    </td>
                    <td>
                        <input class="easyui-combobox" id="txtRoleId" name="RoleId" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddList" iconcls="icon-ok">确定</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#AddDialog').dialog('close')">关闭</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>



