@using Resources;
@using VNCF.PSS.Web.Areas.Purchase.DAL;
@using VNCF.PSS.Web.Areas.Purchase.Models;

@model BuyHead

@{
    ViewBag.Title = "Purchase";
}

<div class="areabx clear " style="margin-bottom:0px;padding-bottom:0px;">
    <div data-options="region:'center'" style="padding:5px;">
        <div class="easyui-layout" data-options="fit:true">
            <div class="botbtbx pdb0">
                <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnNew" onclick="AddNew()">@Resource.btn_new</a> <!--新單-->
                <a href="#" class="easyui-linkbutton" iconcls="icon-edit" id="btnEdit">@Resource.btn_edit</a> <!--修改主表-->
                <a href="#" class="easyui-linkbutton" iconcls="icon-save" id="btnSave" onclick="SaveEditMaster()">@Resource.btn_save</a> <!--保存主表更改-->
                <a href="#" class="easyui-linkbutton" iconcls="icon-undo" id="btnUndo" onclick="UndoEditMaster()">@Resource.btn_undo</a>               
                <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach" onclick="showMessageDialog('Find', '@Resource.btn_search', 850, 680)">@Resource.btn_search</a><!--查找-->
                <a href="#" class="easyui-linkbutton" id="btnPrint" iconcls="icon-print" onclick="showMessageDialog('@Url.Action("Print")','列印',800,600,true);">@Resource.btn_print</a><!--列印-->
            </div>
        </div>
    </div>

    <div class="easyui-tabs" style="width:99%;height:768px;" id="tabPages">       
        <!--first tab 採購主檔資料-->
        <div title="Purchase Master" style="padding:10px; font-size:9px!important;">
            @using (Html.BeginForm("EditHead", null, FormMethod.Post, new { id = "addFormHead", @clase = "form-inline", @role = "form" }))
            {
                <ul class="formod mgt10" id="ulPanel">
                    <!--oc編號-->
                    <li class="lb-std"><span class="input-group font_color_required">@Resource.OcID：</span>
                        @Html.TextBoxFor(m => m.ID, new { @class = "easyui-textbox myReadonly font_group ", @data_options = "required:true,validType:'length[1,20]',readonly: true", @style = "width:60%" })
                        @Html.TextBoxFor(m => m.Ver, "0", new { @class = "easyui-textbox myReadonly", @data_options = "readonly: true", @style = "width:10%" })
                    </li>                    
                    <!--訂單日期-->
                    <li class="lb-std"><span class="input-group font_color_required">@Resource.OrderDate：</span>@Html.TextBoxFor(m => m.OrderDate, "", new { @class = "easyui-datebox-expand ", @data_options = "required:true,validType:'length[1,10]'", @style = "width:72%" })</li>
                    <!--供應商編號-->
                    <li class="lb-std"><span class="input-group font_color_required">@Resource.VendorID：</span>@Html.TextBoxFor(m => m.VendorID, "", new { @class = "easyui-combobox", @data_options = "required:true,validType:'length[1,8]'", @style = "width:72%" })</li>                    
                    <!--供應商地址-->
                    <li class="lb-std"><span class="input-group">@Resource.VendorAddress：</span>@Html.TextBoxFor(m => m.VendorAddress, "", new { @class = "easyui-textbox", @style = "width:72%" })</li>
                    <!--聯繫人-->
                    <li class="lb-std"><span class="input-group font_color_required">@Resource.Contacts：</span>@Html.TextBoxFor(m => m.Contacts, "", new { @class = "easyui-textbox ", @data_options = "required:true", @style = "width:72%" })</li>
                    <!--聯繫人電話-->
                    <li class="lb-std"><span class="input-group">@Resource.ContactsTel：</span>@Html.TextBoxFor(m => m.ContactsTel, "", new { @class = "easyui-textbox ", @style = "width:72%" })</li>
                    <!--傳真-->
                    <li class="lb-std"><span class="input-group">@Resource.ContactsFax：</span>@Html.TextBoxFor(m => m.ContactsFax, "", new { @class = "easyui-textbox ", @style = "width:72%" })</li>
                    <!--採購員編號-->
                    <li class="lb-std"><span class="input-group font_color_required">@Resource.BuyerID：</span>@Html.TextBoxFor(m => m.BuyerID, "", new { @class = "easyui-textbox ", @data_options = "required:true", @style = "width:72%" })</li>
                    <!--採購員名稱-->
                    <li class="lb-std"><span class="input-group">@Resource.BuyerName：</span>@Html.TextBoxFor(m => m.BuyerName, "", new { @class = "easyui-textbox myReadonly", @style = "width:72%" })</li>
                    <!--貨幣代號-->
                    <li class="lb-std"><span class="input-group font_color_required">@Resource.CurrencyID：</span>
                        @Html.TextBoxFor(m => m.CurrencyID, "", new { @class = "easyui-combobox", @data_options = "required:true", @style = "width:40%" })
                        @Html.TextBoxFor(m => m.CurrencyRate, "", new { @class = "easyui-numberbox myReadonly ", @data_options = "readonly:true,min:0,precision:4", @style = "width:30%" })
                    </li>                    
                    <!--部門-->
                    <li class="lb-std"><span class="input-group font_color_required">@Resource.DeptID：</span>@Html.TextBoxFor(m => m.DepartMentID, "", new { @class = "easyui-combobox", @style = "width:72%" })</li>                    
                    <!--客戶代碼-->
                    <li class="lb-std"><span class="input-group">@Resource.CustomerID：</span>@Html.TextBoxFor(m => m.CustomerID, "", new { @class = "easyui-textbox", @data_options = "validType:'length[1,8]'", @style = "width:72%" })</li>
                    <!--客戶名稱-->
                    <li class="lb-std"><span class="input-group">@Resource.CustomerCdesc：</span>@Html.TextBoxFor(m => m.CustomerCdesc, "", new { @class = "easyui-textbox myReadonly ", @data_options = "readonly: true", @style = "width:72%" })</li>                                                         
                    <!--附加費用金額-->
                    <li class="lb-std"><span class="input-group">@Resource.OtherFare：</span>@Html.TextBoxFor(m=>m.OtherAmt, "", new { @class = "easyui-numberbox myReadonly text-align-right", @data_options = "min:0,precision:2,readonly: true", @style = "width:72%" })</li>
                    <!--貨品金額-->
                    <li class="lb-std"><span class="input-group">@Resource.ProductAmount：</span>@Html.TextBoxFor(m => m.PaymentAmt, "", new { @class = "easyui-numberbox myReadonly text-align-right", @data_options = "readonly: true,min:0,precision:2", @style = "width:72%" })</li>
                    <!--包裝信息-->
                    <li class="lb-std"><span class="input-group">@Resource.Packing：</span>@Html.TextBoxFor(m => m.Packing, "", new { @class = "easyui-textbox ", @style = "width:72%" })</li>
                    <!--備注-->
                    <li class="lb-std"><span class="input-group">@Resource.Remark：</span>@Html.TextBoxFor(m => m.Remark, "", new { @class = "easyui-textbox ", @data_options = "validType:'length[1,200]'", @style = "width:72%" })</li>
                    <!--狀態-->
                    <li class="lb-std"><span class="input-group">@Resource.State：</span>@Html.TextBoxFor(m => m.State, "0", new { @class = "easyui-combobox myReadonly ", @data_options = "readonly: true", @style = "width:72%" })</li> 
                    <!--總金額-->
                    <li class="lb-std"><span class="input-group">@Resource.TotalAmount：</span>@Html.TextBoxFor(m => m.TotalAmt, "", new { @class = "easyui-numberbox myReadonly text-align-right", @data_options = "readonly: true,min:0,precision:2", @style = "width:72%" })</li>                   
                    <!--建檔人-->
                    <li class="lb-std"><span class="input-group">@Resource.CreateBy：</span>@Html.TextBoxFor(m => m.CreateBy, "", new { @class = "easyui-textbox myReadonly ", @data_options = "readonly: true", @style = "width:72%" })</li>
                    <!--建檔日期-->
                    <li class="lb-std"><span class="input-group">@Resource.CreateAt：</span>@Html.TextBoxFor(m => m.CreateAt, "", new { @class = "easyui-textbox myReadonly ", @data_options = "readonly: true", @style = "width:72%" })</li>
                    <!--更改人-->
                    <li class="lb-std"><span class="input-group">@Resource.UpdateBy：</span>@Html.TextBoxFor(m => m.UpdateBy, "", new { @class = "easyui-textbox myReadonly ", @data_options = "readonly: true", @style = "width:72%" })</li>
                    <!--更改日期-->
                    <li class="lb-std"><span class="input-group">@Resource.UpdateAt：</span>@Html.TextBoxFor(m => m.UpdateAt, "", new { @class = "easyui-textbox myReadonly ", @data_options = "readonly: true", @style = "width:72%" })</li>
                    <li><input class="text" type="hidden" name="Vendor" id="Vendor" /></li>
                    <!--定義隱藏的臨時變量儲存當前操作是新增或修改-->                  
                    <li><input class="" type="hidden" name="ActionType" id="ActionType_H" /></li>
                   
                </ul>
            }
        </div>

        <!--second tab 採購明細資料-->
        <div id="page2" title="Purchase Details" closable="false" style="padding:5px;font-size:9px!important;">
            @using (Html.BeginForm("EditHead", null, FormMethod.Post, new { id = "addFormDetails", @clase = "form-inline", @role = "form" }))
            {
                @*<table id="details_master" class="font_9px" style="border-collapse:separate; border-spacing:0px 1px;">*@
                <table id="details_master" class="percent-100" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <!--moCheckSub,goodsCheckSub為擴展的驗證規則-->
                            <!--制單頁數-->
                            <td class="td-label font_color_required"><div class="award-name">@Resource.ProductMo：</div></td>
                            <td class="td-input">
                                <div class="input-group">
                                    @Html.TextBox("ProductMo", "", new { @class = "easyui-textbox ", @style = "width:69%", @data_options = "required:true,validType:'moCheckSub'" }) 
                                    @Html.TextBox("Seq", "", new { @class = "easyui-textbox myReadonly", @style = "width:29%", @data_options = "readonly: true" })                                  
                                </div>
                            </td>
                            <!--產品編號-->
                            <td class="td-label font_color_required"><div class="award-name">@Resource.ProductID：</div></td>
                            <td class="td-input">
                                <div class="input-group">                                    
                                    @Html.TextBox("ProductID", "", new { @class = "easyui-textbox", @style = "width:85%", @data_options = "required:true" })
                                    <!--彈窗查詢貨品編號-->
                                    <button type="button" class="in-button-find" id="btnItem">...</button>
                                </div>
                            </td>
                            <!--產品描述-->
                            <td class="td-label"><div class="award-name">@Resource.ProductCdesc：</div></td>
                            <td class="td-input">
                                <div class="input-group">@Html.TextBox("ProductCdesc", "", new { @class = "easyui-textbox", @style = "width:100%" })</div>
                            </td>
                            <!--規格-->
                            <td class="td-label"><div class="award-name">@Resource.Spec：</div></td>
                            <td class="td-input"><div class="input-group">@Html.TextBox("Spec", "", new { @class = "easyui-combobox", @style = "width:100%" })</div></td>                            
                        </tr>

                        <tr>
                            <td class="td-label font_color_required"><div class="award-name">@Resource.OrderQty_and_unit：</div></td><!--訂單數量/訂單單位-->
                            <td class="td-input">
                                <div class="input-group">
                                    @Html.TextBox("OrderQty", "", new { @class = "easyui-numberbox text-align-right", @style = "width:69%", @data_options = "required:true,min:0" })
                                    @Html.TextBox("OrderUnit", "", new { @class = "easyui-combobox", style = "width:29%", @data_options = "required:true" })
                                </div>
                            </td>
                            <td class="td-label font_color_required"><div class="award-name">@Resource.Weight/@Resource.UnitCode：</div></td><!--重量/重量單位-->
                            <td class="td-input">
                                <div class="input-group">
                                    @Html.TextBox("Weight", "", new { @class = "easyui-numberbox text-align-right", @style = "width:69%", @data_options = "required:true,min:0" })
                                    @Html.TextBox("WeightUnit", "", new { @class = "easyui-combobox", style = "width:29%", @data_options = "required:true" })
                                </div>
                            </td>
                            <td class="td-label font_color_required"><div class="award-name">@Resource.Price_and_unit：</div></td> <!--單價/單位-->
                            <td class="td-input">
                                <div class="input-group">
                                    @Html.TextBox("Price", "", new { @class = "easyui-numberbox text-align-right", @style = "width:69%", @data_options = "required:true,min:0,precision:3" })
                                    @Html.TextBox("PriceUnit", "", new { @class = "easyui-combobox", @style = "width:29%", @data_options = "required:true" })
                                </div>
                            </td>
                            <td class="td-label"><div class="award-name">@Resource.Color：</div></td><!--顏色-->
                            <td class="td-input"><div class="input-group">@Html.TextBox("Color", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>
                        </tr>

                        <tr>
                            <td class="td-label"><div class="award-name">@Resource.DiscountRate/@Resource.Discount：</div></td><!--折扣率/折扣額-->
                            <td clsas="td-input">
                                <div class="input-group">
                                    @Html.TextBox("DiscountRate", 0.00, new { @class = "easyui-numberbox text-align-right", @style = "width:49%;", @data_options = "min:0,precision:3" })
                                    @Html.TextBox("DiscountAmt", 0.00, new { @class = "easyui-numberbox myReadonly text-align-right", @style = "width:49%", @data_options = "min:0,precision:2" })
                                </div>
                            </td>
                            <td class="td-label"><div class="award-name">@Resource.ProductAmount：</div></td><!--總金額-->
                            <td class="td-input"><div class="input-group">@Html.TextBox("TotalSum", 0.00, new { @class = "easyui-numberbox myReadonly text-align-right", @style = "width:100%", @data_options = "min:0,precision:2" })</div></td>                            
                            <td class="td-label"><div class="award-name">@Resource.ArriveDate：</div></td><!--交貨日期-->
                            <td class="td-input"><div class="input-group">@Html.TextBox("ArriveDate", "", new { @class = "easyui-datebox-expand", @style = "width:100%" })</div></td>
                            <td class="td-label"><div class="award-name">@Resource.Remark：</div></td><!--備註-->
                            <td class="td-input"><div class="input-group">@Html.TextBox("Remarks", "", new { @class = "easyui-textbox", @style = "width:100%" })</div></td>                            
                        </tr>

                        <tr> 
                            <!--更新時的主鍵-->
                            <td> <input type="hidden" name="ActionType" id="ActionType_D" /></td>
                            @*<td> <input type="hidden" name="Seq" id="Seq" /></td>*@
                            <td> <input type="hidden" name="goods_id" id="goods_id" /></td>   <!--保存貨品編號查詢臨時值-->
                        </tr>

                    </tbody>
                </table>

            }
            <!--間隔條-->
            @*<div class="areabx_divider"></div>*@
           
            <!--明細表格-->
            <div data-options="region:'center'" style="margin-top:10px">
                <div class="easyui-layout" data-options="fit:true" style="background: #ccc;">
                    <table id="tbDetails" class="easyui-datagrid" title="Purchase Details" style="width:100%;height:300px"
                           data-options="singleSelect:true,collapsible:true,method:'get'"></table>
                </div>
            </div>

            <!--附加費用表格-->
            <div data-options="region:'center'">
                <div class="easyui-layout" data-options="fit:true" style="background: #ccc;">
                    <table id="tbFare" class="easyui-datagrid" title="Purchase Fare" style="width:100%;height:200px"
                           data-options="singleSelect:true,collapsible:true,method:'get'"></table>
                </div>
                <input type="hidden" name="ActionType" id="ActionType_Fare" />
                <input type="hidden" name="CurrentRowIndex" id="CurrentRowIndex" />
            </div>

        </div><!--tabpage2-->

    </div>
</div>

@section PageSpecificJavascriptIncludes{
    @*<script src="~/Content/js/SalesOrder.js?v=20210416000009"></script>*@
    <script src="~/Content/js/SalesOrder.js"></script>
    <script src="~/Content/js/Purchase.js"></script>
    <script src="~/Content/js/BaseData.js"></script>
    
    <script type="text/javascript">
        setValue({
            msg_system_prompt: '@Resource.msg_system_prompt',
            msg_condition_is_empty: '@Resource.msg_condition_is_empty',
            msg_data_query: '@Resource.msg_data_query',
            msg_details_info: '@Resource.msg_details_info',
            msg_loading_data: '@Resource.msg_loading_data',
            msg_master_data_is_empty: '@Resource.msg_master_data_is_empty',
            msg_no_data: '@Resource.msg_no_data',
            msg_only_select_one: '@Resource.msg_only_select_one',
            msg_saved_master_success: '@Resource.msg_saved_master_success',
            msg_saved_success: '@Resource.msg_saved_success',
            msg_search_condition: '@Resource.msg_search_condition'
        })

        $(function () {
            //TODO
            //SearchOcDetails();
            // InitSearch();//查询

            //$("btnNew").click(NewDocument);

            $("#btnEdit").click(function () {
                EditMaster("@Resource.sales_order_master");
            });

            $("#btnItem").click(function () {
                findItem(null);
            });

            @*$("#btnImport").click(function () {
                //openWin('/Sales/SalesOrder/ImportOrder', '@Resource.btn_import', 850, 560, null);
                openWin('ImportOrder', '@Resource.btn_import', 850, 560, null);
            });*@

            //設置只讀背景色為灰色
            setReadonlyBackground();        
           

            //初始化下拉列表框
            initBaseInfo('bs_vendor', '#VendorID'); //供應商
            initBaseInfo('bs_money', '#CurrencyID'); //貨幣
            initBaseInfo('bs_department', '#DepartMentID');//部門
            initBaseInfoByName('bs_unit', '#OrderUnit'); //數量單位
            initBaseInfoByName('bs_unit_wt', '#WeightUnit'); //重量單位
            initBaseInfoByName('bs_unit_all', '#PriceUnit');//單價單位,數量,重量都有可能
            
            //根據當前貨幣取匯率
            $('#CurrencyID').combobox({
                onHidePanel: function () {
                    getCurrencyRate();
                }
            });            
            $('#VendorID').combobox({
                onHidePanel: function () {
                    getVendorInfo();                   
                }
            });
            //客戶編號綁定失去焦點事件
            $("input", $("#CustomerID").next("span")).blur(function () {
                getCustomerInfo();                
            });
            //採購員編號綁定失去焦點事件
            $("input", $("#BuyerID").next("span")).blur(function () {
                getBuyerName();
            });
            //打開模式窗口,查詢貨品編碼
            $("#btnItem").click(function () {
                findItem(null);
            });
            //貨品編號綁定失去焦點事件,查出貨品描述
            $("input", $("#ProductID").next("span")).blur(function () {
                getProductID();                
            });


            ////更改區域時生成單據ID

            //$('#Area').combobox({
            //    onHidePanel: function () {
            //        var tmp = $("#Area").combobox("getValue");
            //        if (tmp == null || tmp == undefined || tmp == "") {
            //        } else {
            //            if ($("#ActionType_H").val() == "NEW") {
            //                getMaxOcID(tmp);
            //            }
            //        }
            //    }
            //});



        });



    </script>
}